<style>
	#scrollable-dropdown-menu .dropdown-menu {
		max-height: 150px;
		overflow-y: auto;
	}
</style>
<input type="hidden" id="id" value="-1" ng-model="model_data.id"/>

	<div class="panel panel-default"> 
		<div class="panel-heading wrapper"> 
			<button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" ng-click="onShowEditRow(-1)">
				<span class="glyphicon glyphicon-plus"></span>
				<b> Add New </b>
			</button>
			<i class="fa fa-street-view"></i>                            
			<span class="font-bold">Sub Category Management</span>
		</div>                         
		<div class=""> 
			<table id="table_grid" class="table table-hover table-bordered" style="text-align: center;width:100%" ng-model = "table_grid"> 
				<thead> 
					<tr> 
						<th style="text-align: center" ng-repeat = "field in fields">
							<b>{{field}}</b>
						</th>						
						<th style="text-align: center">Edit</th>
						<th style="text-align: center">Delete</th>
					</tr>                                     
				</thead>                    
			</table>                             
		</div>
	</div> 

	
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog" role="document"> 
		<div class="panel"> 
			<div class="modal-header bg"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
					<span aria-hidden="true">&times;</span> 
				</button>                             
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id<0">
					<i class="fa fa-plus"></i>&nbsp;Add Sub Category</h5>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id>=0">
					<i class="fa fa-pencil"></i>&nbsp;Edit Sub Category</h5>				
			</div>                         
			<div class="modal-body"> 
				<br> 
				<form class="form-horizontal"> 
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Category :</label>
						<div class="col-sm-5">
							<select id='prpty_id' class='form-control' ng-model="model_data.cat_id"
								ng-options="value.id as value.category for (key, value) in category_list">		
							</select>						
						</div>
					</div>
					<text-item formlabel="Sub Category" modelname="model_data.sub_cat"></text-item>				
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Approval Mode:</label>
						<div class="col-sm-5">
							<select class='form-control' ng-model="model_data.approval_mode" 
								ng-options="type for type in approval_mode_list">
							</select>
						</div>
					</div>
				</form>                             
			</div>     

			<div style="clear:both">			
				<submit-form id="model_data.id" updatedata="onUpdateRow()"></submit-form>						
			</div>	
		</div>                     
	</div>                 
</div>             

<dialog-delete title="Category" modelname="model_data.sub_cat" deletedata="deleteRow()"></dialog-delete>