<input type="hidden" id="id" value="-1" ng-model="model_data.id"/>

	<div class="panel panel-default"> 
		<div class="panel-heading wrapper"> 

			<button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal"  ng-click="onShowEditRow(-1)">
				<span class="glyphicon glyphicon-plus"></span> <!--ng-disabled="job_role!='SuperAdmin'&&edit_flag==0"-->
				<b> Add New </b>
			</button> 
			<button  type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px; margin-right: 10px" data-target="#exportModal" data-toggle="modal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" >
				<b><i class="fa fa-download"></i> Export File </b>
			</button>    
			<i class="fa fa-street-view"></i>                            
			<span class="font-bold">Minibar Item Management</span>
		</div>                         
		<div class=""> 
			<table id="table_grid" class="table table-hover table-bordered" style="text-align: center;width:100%" ng-model = "table_grid"> 
				<thead> 
					<tr> <!--
						<th no-sort style="text-align: center">
							<input type="checkbox" id="checkall" />
						</th>-->
						<th style="text-align: center" ng-repeat = "field in fields">
							<b>{{field}}</b>
						</th>						
						<th style="text-align: center">Edit</th>
						<th style="text-align: center">Delete</th>
					</tr>                                     
				</thead>                    
			</table>                             
		</div>
	</div> 

	<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="modal-dialog" role="document"> 
			<div class="panel"> 
				<div class="modal-header bg"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
						<span aria-hidden="true">&times;</span> 
					</button>  
					<h5 class="modal-title font-bold" style="color:#2691d9">
							<i class="fa fa-download"></i>&nbsp;Export Report</h5>
				</div>
				<div class="modal-body"> 
					<br>
					<form class="form-horizontal form-validation">
							<label class="control-label text-xs font-bold" style="margin-left: 15px;font-size: 10px">&nbsp;&nbsp;&nbsp;&nbsp;Do you want to export this table?</label><br><br>
					</form>
					<form class="form-horizontal form-validation">
							<center>
									<button type="button" class="btn btn-success btn-sm" ng-click="onDownloadExcel()" data-dismiss="modal">
									<span class="font-bold"><i class="fa fa-check"></i>&nbsp;Ok</span></button>
									<button type="button" class="btn btn-danger btn-sm" class="close" data-dismiss="modal">
									<span class="font-bold"><i class="fa fa-times"></i>&nbsp;Cancel</span></button>           
						  </center>
					</form>
				</div>
			</div>
		</div>
	</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog" role="document"> 
		<div class="panel"> 
			<div class="modal-header bg"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
					<span aria-hidden="true">&times;</span> 
				</button>                             
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id<0">
					<i class="fa fa-plus"></i>&nbsp;Add Minibar Item</h5>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id>=0">
					<i class="fa fa-pencil"></i>&nbsp;Edit Minibar Item</h5>				
			</div>                         
			<div class="modal-body"> 
				<br> 
				<form class="form-horizontal">
					<text-item formlabel="Item Name" modelname="model_data.item_name"></text-item>
					<text-item formlabel="Charge" modelname="model_data.charge"></text-item>
					<text-item formlabel="PMS Code" modelname="model_data.pms_code"></text-item>
					<text-item formlabel="IVR Code" modelname="model_data.ivr_code"></text-item>
					<text-item formlabel="Max Quantity" modelname="model_data.max_qty"></text-item>
					<link href="/lib/angular/angular-toggle-switch-bootstrap-3.css" media="all" rel="stylesheet" type="text/css">
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Active :</label>
						<div class="col-sm-5">
							<div toggle-switch class="switch-primary" ng-model="model_data.active_status"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="Building">Choose File:</label>
						<div class="col-sm-5">
							<input type="file" file-model="img_file" style="margin-top: 6px" />	
						</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-sm-4" for="Building">Selected File:</label>
						<div class="col-sm-5">
							<img ng-src="{{model_data.img_path}}" />
						</div>
					</div>					
					<!-- <div class="form-group" ng-include="'/adminpanel/partials/fragments/uploadcsv.html'"></div> -->
				</form>                             
			</div>     

			<!--<div class="col-md-12" style="clear:both;margin-bottom: 20px" ng-include="'/adminpanel/partials/fragments/uploader.html'"></div>-->

			<!--log history--->
			<div>
				<i class="fa fa-refresh"></i> History
			</div>
			<div>
				<table style="width:100%" class="table ticket table-striped b-t b-light">
					<thead>
					<tr class="tblhead-sm">
						<th class="text-center" style="width:10%"><b>ID</b></th>
						<th class="text-center" style="width:30%"><b>Date</b></th>
						<th class="text-center" style="width:30%"><b>Action</b></th>
						<th class="text-center" style="width:30%"><b>User</b></th>
					</tr>
					</thead>
					<tbody>
					<tr class="" ng-repeat="row in historylist">
						<td class="text-center" >{{row.id }}</td>
						<td class="text-center" >{{row.created_at}}</td>
						<td class="text-center" >{{row.action}}</td>
						<td class="text-center" >{{row.username}}</td>
					</tr>
					</tbody>
				</table>

			</div>
			<!----->
			<div style="clear:both">			
				<submit-form id="model_data.id" updatedata="onUpdateRow()"></submit-form>						
			</div>	
		</div>                     
	</div>                 
</div>             

<dialog-delete title="Minibar Item" modelname="model_data.item_name" deletedata="deleteRow()"></dialog-delete>
