<style>
	.scrollable-dropdown-menu .dropdown-menu {
		max-height: 300px;
		overflow-y: auto;
	}
</style>
<input type="hidden" id="id" value="-1" ng-model="model_data.id" />

<div class="panel panel-default">
	<div class="panel-heading wrapper">
		<button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal"
		 ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" ng-click="onShowEditRow(-1)">
			<span class="glyphicon glyphicon-plus"></span>
			<b> Add New </b>
		</button>
		<button type="button" class="btn btn-success btn-sm hidden" style="float:right; margin-top: -5px; margin-right: 10px" data-target="#exportModal" data-toggle="modal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" >
			<b><i class="fa fa-download"></i> Export File </b>
		</button>  
		<i class="fa fa-street-view"></i>
		<span class="font-bold">Shift Management</span>
	</div>
	<div class="">
		<table id="table_grid" class="table table-hover table-bordered" style="text-align: center;width:100%" ng-model="table_grid">
			<thead>
				<tr><!--
					<th no-sort style="text-align: center">
						<input type="checkbox" id="checkall" />
					</th>-->
					<th style="text-align: center" ng-repeat="field in fields">
						<b>{{field}}</b>
					</th>
					<th style="text-align: center">Edit</th>
					<th style="text-align: center">Delete</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog" role="document"> 
		<div class="panel"> 
			<div class="modal-header bg"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
					<span aria-hidden="true">&times;</span> 
				</button>  
				<h5 class="modal-title font-bold" style="color:#2691d9">
						<i class="fa fa-download"></i>&nbsp;Export Report</h5>
			</div>
			<div class="modal-body"> 
				<br>
				<form class="form-horizontal form-validation">
						<label class="control-label text-xs font-bold" style="margin-left: 15px;font-size: 10px">&nbsp;&nbsp;&nbsp;&nbsp;Do you want to export this table?</label><br><br>
				</form>
				<form class="form-horizontal form-validation">
						<center>
								<button type="button" class="btn btn-success btn-sm" ng-click="onDownloadExcel()" data-dismiss="modal">
								<span class="font-bold"><i class="fa fa-check"></i>&nbsp;Ok</span></button>
								<button type="button" class="btn btn-danger btn-sm" class="close" data-dismiss="modal">
								<span class="font-bold"><i class="fa fa-times"></i>&nbsp;Cancel</span></button>           
					  </center>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="panel">
			<div class="modal-header bg">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id<=0">
					<i class="fa fa-plus"></i>&nbsp;Add Device</h5>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id>0">
					<i class="fa fa-pencil"></i>&nbsp;Edit Device</h5>
			</div>
			<div class="modal-body">
				<br>
				<form class="form-horizontal">		
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">User Name:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<input class="form-control input-sm col-sm-5" type="text" ng-model="shift_username"
								uib-typeahead="user.wholename for user in userlist  | filter:$viewValue | limitTo:50"
								typeahead-min-length="0"
								typeahead-on-select="onSelectUser(userlist, $item, $model, $label)"
								required />
						</div>
					</div>			
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Department Function:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<div ng-dropdown-multiselect="" options="dept_func_list" selected-model="dept_func_ids" checkboxes="true" extra-settings="hint_setting"
							 translation-texts="deptfunc_hint"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Secondar Department Function:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<div ng-dropdown-multiselect="" options="dept_func_list" selected-model="sec_dept_func_ids" checkboxes="true" extra-settings="hint_setting"
							 translation-texts="deptfunc_hint"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Task Group:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<div ng-dropdown-multiselect="" options="task_group_list" selected-model="task_group_ids" checkboxes="true" extra-settings="hint_setting"
							 translation-texts="taskgroup_hint"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Location Grouop:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<div ng-dropdown-multiselect="" options="locaton_group_list" selected-model="location_group_ids" checkboxes="true" extra-settings="hint_setting"
							 translation-texts="locationgroup_hint"></div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Secondary Location Grouop:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<div ng-dropdown-multiselect="" options="locaton_group_list" selected-model="sec_location_group_ids" checkboxes="true" extra-settings="hint_setting"
							 translation-texts="locationgroup_hint"></div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Building:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<div ng-dropdown-multiselect="" options="building_list" selected-model="building_ids" checkboxes="true" extra-settings="hint_setting"
							 translation-texts="building_hint"></div>
						</div>
					</div>

					<div class="form-group hidden" ng-include="'/adminpanel/partials/fragments/uploadcsv.html'"></div>
				</form>
			</div>

			<div class="col-md-12 hidden" style="clear:both;margin-bottom: 20px" ng-include="'/adminpanel/partials/fragments/uploader.html'"></div>
			<div style="clear:both">
				<submit-form id="model_data.id" updatedata="onUpdateRow()"></submit-form>
			</div>
		</div>
	</div>
</div>

<dialog-delete title="Shift" modelname="shift_username" deletedata="deleteRow()"></dialog-delete>