<style>
	.scrollable-dropdown-menu .dropdown-menu {
		max-height: 300px;
		overflow-y: auto;
	}
</style>
<input type="hidden" id="id" value="-1" ng-model="model_data.id"/>

	<div class="panel panel-default"> 
		<div class="panel-heading wrapper"> 
			<button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" ng-click="onShowEditRow(-1)">
				<span class="glyphicon glyphicon-plus"></span>
				<b> Add New </b>
			</button>                             
			<i class="fa fa-street-view"></i>                            
			<span class="font-bold">Main Task</span>
		</div>                         
		<div class=""> 
			<table id="table_grid" class="table table-hover table-bordered" style="text-align: center;width:100%" ng-model = "table_grid"> 
				<thead> 
					<tr> 
						<th style="text-align: center" ng-repeat = "field in fields">
							<b>{{field}}</b>
						</th>						
						<!-- <th style="text-align: center">Edit</th>
						<th style="text-align: center">Delete</th> -->
					</tr>                                     
				</thead>                    
			</table>                             
		</div>
	</div> 

	
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog" role="document"> 
		<div class="panel"> 
			<div class="modal-header bg"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
					<span aria-hidden="true">&times;</span> 
				</button>                             
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id<0">
					<i class="fa fa-plus"></i>&nbsp;Add Main Task</h5>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id>=0">
					<i class="fa fa-pencil"></i>&nbsp;Edit Main Task</h5>				
			</div>                         
			<div class="modal-body"> 
				<br> 
				<form class="form-horizontal"> 
					<!-- <text-item formlabel="id" modelname="model_data.id"></text-item> -->

					<text-item formlabel="Task Name" modelname="model_data.task"></text-item>
					<!-- <text-item formlabel="Type" modelname="model_data.type"></text-item> -->

					
					<text-item formlabel="Settings Key" texthint="master_task_system_settings_name" modelname="model_data.settings_key"></text-item>
					<text-item formlabel="Comment" modelname="model_data.comment"></text-item>

					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Task Group :</label>
						<div id="scrollable-dropdown-menu" class="col-sm-5">
							<!--<select id='prpty_id' class='form-control' ng-model="model_data.taskgroup_id"-->
								<!--ng-options="value.id as value.name for (key, value) in taskgroups">		-->
							<!--</select>-->
							<input class="form-control input-sm col-sm-5" type="text" ng-model="taskgroup_name"
								   uib-typeahead="tasks.name for tasks in gettaskgroups($viewValue)"
								   typeahead-min-length="0"
								   typeahead-on-select="ontaskgroups(taskgroups, $item, $model, $label)"
								   required />
						</div>
					</div>

					<!-- <div class="form-group" ng-repeat="row in selected_task_list">
						<label class="control-label col-sm-4" for="Property">{{$index + 1}}:</label>
						<div class="scrollable-dropdown-menu col-sm-5">
							<input class="form-control input-sm col-sm-12" type="text" ng-model="row.task"
								placeholder="Select Task..."
								uib-typeahead="item.task for item in task_list | filter:$viewValue | limitTo:10"
								typeahead-min-length="0"
								typeahead-on-select="onSelectTask(row, $item, $model, $label)" />					
						</div>
						<div class="col-sm-2" style="padding-left: 5px">
							<button class="btn btn-primary btn-xs" style="margin-top:2px" ng-click="onAddTask()" ng-show="$last">
								<span class="fa fa-plus"></span>
							</button>	
							<button class="btn btn-primary btn-xs" style="margin-top:2px" ng-click="onDeleteTask(row)" ng-hide="$last">
								<span class="fa fa-minus"></span>
							</button>	
						</div>
					</div> -->
				</form>                             
			</div>              
			<div style="clear:both">			
				<submit-form id="model_data.id" updatedata="onUpdateRow()"></submit-form>						
			</div>				
		</div>                     
	</div>                 
</div>             

<dialog-delete title="Main Task" modelname="model_data.name" deletedata="deleteRow()"></dialog-delete>