<style>
    button {
        pointer: cursor;
    }

    input[type=file] {
        width: 150px;
        height: 20px;
    }
</style>
<script type="text/ng-template" id="locationTypeahead.html">
    <a>
        <span ng-bind="match.model.name"></span><br>
        <span style="font-size: 10px" ng-bind="match.model.type"></span><br>
    </a>
</script>


<div class="wrapper" style="margin-top: 7px" >
    <div class="panel panel-default" style="border-radius: 4px">
        <div class="panel-heading">
            <label class="font-bold"><i class="fa fa-warning text-default"></i>&nbsp;&nbsp;Item Edit</label>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation">
                <div class="form-group" style="margin-right: 0px">
                   
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Item Name/Item Type:</label>
                    <div class="col-sm-4 scrollable-dropdown-menu">
                        <input class="form-control input-sm"  ng-model="equipment.name"  required
                               uib-popover="Enter equiment name!" popover-trigger="mouseenter">
                    </div>
                     <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Color:</label>
                    <div class="col-sm-4 scrollable-dropdown-menu">
                        <input class="form-control input-sm"  ng-model="equipment.clr"  required
                                popover-trigger="mouseenter">
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Description</label>
                    <div class="col-sm-4">
                        <textarea class="form-control input-sm" rows="3" ng-model="equipment.description"
                                  style="resize:none" uib-popover="Enter description!" popover-trigger="mouseenter" ></textarea>
                    </div>
                    <!-- <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Make/Brand:</label>
                    <div class="col-sm-4 scrollable-dropdown-menu">
                        <input type="text" ng-model="equipment.brand" class="form-control input-sm" placeholder="Enter Brand."
                               popover-trigger="mouseenter" popover-placement="top"
                               uib-typeahead="maintenance.external_maintenance for maintenance in getExternalCompany($viewValue)"
                               typeahead-min-length="0"
                               typeahead-on-select="onExternalCompanySelect(equipment, $item, $model, $label)">
                    </div> -->
                </div>

                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Critical Flag</label>
                    <div class="col-sm-4">
                        <label class="i-switch m-t-xs m-r pull-left">
                            <input type="checkbox" ng-model="equipment.critical_flag"   />
                            <i></i>
                        </label>
                    </div>
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Distintive Features:</label>
                    <div class="col-sm-4">
                        <input class="form-control input-sm" data-ng-model="equipment.keywords" placeholder="Enter keywords." 
                               uib-popover="Enter keywords!" popover-trigger="mouseenter" popover-placement="top" />
                    </div>
                </div>

                <!-- <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Department</label>
                    <div class="col-sm-4 scrollable-dropdown-menu">
                        <input type="text" ng-model="equipment.department" class="form-control input-sm" placeholder="department."
                               uib-popover="Enter department!" popover-trigger="mouseenter" popover-placement="top"
                               uib-typeahead="dept.department for dept in getDepartmentList($viewValue)"
                               typeahead-min-length="0"
                               typeahead-on-select="onDepartmentSelect(equipment, $item, $model, $label)">
                    </div>
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Life</label>
                    <div class="col-sm-4">
                        <div class="col-sm-6">
                            <input class="form-control input-sm" type="number" data-ng-model="equipment.life"
                                   uib-popover="Enter life!" popover-trigger="mouseenter" popover-placement="top" />
                        </div>
                        <div class="col-sm-6">
                            <select class='col-sm-6 form-control input-sm' ng-model="equipment.life_unit" ng-change="onChangedLife()"
                                    ng-options="value for value in life_units" />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Equipment Group</label>
                    <div class="col-sm-4 scrollable-dropdown-menu">
                        <input type="text" ng-model="equipment.group_name" class="form-control input-sm" placeholder="group name."
                               uib-popover="Enter group name!" popover-trigger="mouseenter" popover-placement="top"
                               uib-typeahead="group.name for group in getGroupList($viewValue)"
                               typeahead-min-length="0"
                               typeahead-on-select="onGroupSelect(equipment, $item, $model, $label)">
                    </div>
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Parts Group</label>
                    <div class="col-sm-4 scrollable-dropdown-menu">
                        <input type="text" ng-model="equipment.part_group_name" class="form-control input-sm" placeholder="part group name."
                               uib-popover="Enter part group name!" popover-trigger="mouseenter" popover-placement="top"
                               uib-typeahead="partgroup.name for partgroup in getPartGroupList($viewValue)"
                               typeahead-min-length="0"
                               typeahead-on-select="onPartGroupSelect(equipment, $item, $model, $label)">
                    </div>
                </div> -->

                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Location</label>
                    <div class="col-sm-4 scrollable-dropdown-menu " >
                        <input type="text" ng-model="location.name" class="form-control input-sm" placeholder="Enter location name"
                               uib-popover="Enter location name" popover-trigger="mouseenter"
                               uib-typeahead="room.room for room in getLocationList($viewValue)"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="locationTypeahead.html"
                               typeahead-on-select="onLocationSelect($item, $model, $label)" required>
                    </div>
                </div>

                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Approximate Cost:</label>
                    <div class="col-sm-4">
                        <input class="form-control input-sm" type="number" data-ng-model="equipment.purchase_cost"
                               uib-popover="Enter pucharse cost!" popover-trigger="mouseenter" popover-placement="top" />
                    </div>
                    <!-- <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Purchase Date</label>
                    <div class="col-sm-4">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="equipment.purchase_date" readonly  />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="datetime.date"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'day', minView:'day'  }"
                                            data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
                        </ul>
                    </div> -->

                </div>

                <div class="form-group" style="margin-right: 0px">
                   <!--  <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Manufacture</label>
                    <div class="col-sm-4">
                        <input class="form-control input-sm" data-ng-model="equipment.manufacture"
                               uib-popover="Enter manufacture!" popover-trigger="mouseenter" popover-placement="top" />
                    </div> -->
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Status</label>
                    <div class="col-sm-4">
                        <select class='form-control input-sm' ng-model="equipment.status_id" ng-change="onChangedProperty()"
                                ng-options="value.id as value.status for (key, value) in statuses" />
                    </div>
                </div>

                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Model/Brand</label>
                    <div class="col-sm-4">
                        <input class="form-control input-sm" data-ng-model="equipment.model"
                               uib-popover="Enter model!" popover-trigger="mouseenter" popover-placement="top" />
                    </div>
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Serial/Barcode</label>
                    <div class="col-sm-4">
                        <input class="form-control input-sm" data-ng-model="equipment.barcode"
                               uib-popover="Enter barcode!" popover-trigger="mouseenter" popover-placement="top" />
                    </div>
                </div>

                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Date Lost From:</label>
                    <div class="col-sm-4">
                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="equipment.warranty_start"  readonly />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="datetime.date_warranty_start"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown3',startView:'day', minView:'day' }"
                                            data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
                        </ul>
                    </div>

                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Date Lost To:</label>
                    <div class="col-sm-4">
                        <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="equipment.warranty_end" readonly  />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="datetime.date_warranty_end"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown4',startView:'day', minView:'day'  }"
                                            data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
                        </ul>
                    </div>
                </div>

                <div class="form-group" style="margin-right: 0px">
                    
                    <label class="col-sm-2 text-right control-label text-muted" style="margin-bottom: 0px">Picture</label>
                    <div class="col-sm-4">
                        <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
                             file="image"  file-name="imageFileName"  data-max-file-size="3" >
                        </div>
                        <div class="image-container" >
                            <img ng-src={{image}}  />
                            <span class="file-name" >{{imageFileName}}</span>
                        </div>
                        <form action>
                            <input type="file" fileread="uploadme.src" imagename="uploadme.imagename" imagetype="uploadme.imagetype" >
                            <img ng-src="{{ uploadme.src }}"  style="width: 70px;height: 70px; border: 0px; border-color:#ffffff;">
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right col-sm-8" style="margin-top: -3px">
                <button type="button" class="btn btn-dark btn-sm" ng-click="UpdateEquipment()">
                    <span class="text-success font-bold"><i class="fa fa-check"></i>&nbsp;Update</span></button>
                <button type="button" class="btn btn-dark btn-sm" ng-click="cancelComplaint()">
                    <span class="text-danger font-bold"><i class="fa fa-times"></i>&nbsp;Cancel</span></button>
            </div>
</div>