<!-- <script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script> -->
<script type="text/ng-template" id="adminrateTemplate.html">
             <select ng-show="item.assigned_device_count>0" >
	    <option  class="form-group" ng-repeat="row1 in item.assigned_device_list">
                  {{row1}}
              </option>
    </select>
     </script>
<script type="text/ng-template" id="unassignedTemplate.html">
    <select ng-show="item.unassigned_count>0">
	    <option  class="form-group" ng-repeat="row2 in item.unassigned_list">
        {{row2}}</option>
    </select>
</script>

<div ng-controller="MinibarRosterNewController" class="">
    <!-- <div class="wrapper-md1 bg-light b-b">
        <h1 class="m-n font-thin h3">Roster Allocation</h1>
    </div> -->

    <div class="wrapper-md1">
        <div style="margin-bottom: 0px">

            <div class="wrapper-md1 bg-light b-b">
                <h1 class="m-n font-thin h3">Minibar Roster</h1>
            </div>

            <!-- -->
            <div style="padding: 0px 5px 0px 5px">

                <div class="row" style="margin-right: 0px">
                    <div class="col-sm-3">
                        <div class="panel panel-default" style="margin-bottom: 5px">
                            <div class="panel-heading" style="background-color:#38678B">
                                <label class="text-sm font-bold" style="color:white">
                                    <i class="fa fa-mobile"></i>&nbsp;&nbsp;Devices</label>
                            </div>
                            <div class="panel-body" style="padding:0px">
                                <form class="form-horizontal">
                                    <div class="form-group" style="margin-top: 15px; margin-right: 0px">
                                        <label class="col-sm-3 control-label text-sm font-bold">Name</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" ng-model="device_name" ng-keyup="$event.keyCode == 13 && searchDevice()"
                                                />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm" ng-click="searchDevice()">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="list-group" style="margin-bottom: 5px" fill-height additional-padding="200" debounce-wait="300">
                                    <a href class="list-group-item" ng-class="{'selected': row.selected}" ng-repeat="row in devicelist" ng-click="onSelectDevice(row)">
                                        <span style="margin-top: px" class="pull-right">
                                            <!--<span class="badge" style="background-color: goldenrod" title="Credits">{{row.total_credits}}</span>-->
                                            <span class="badge bg-success" title="Rooms">{{row.room_count}}</span>
                                            <i class="fa fa-chevron-right text-muted"></i>
                                        </span>
                                        <span class="avatar thumb-xs m-r-xs" style="width:27px">
                                            <img src="{{row.picture}}" alt="..." onError="this.onerror=null;this.src='/frontpage/img/default_photo.png';">
                                            <!-- <i ng-if="!row.active_status" class="fa fa-user fa-2x"></i> -->
                                            <i class="bg-success b-white bottom" ng-if="row.active_status==1"></i>
                                            <i class="bg-default b-white bottom" ng-if="!row.active_status"></i>
                                            <!-- <span class="hidden-xs hidden-sm status-view text-xs" style="cursor: pointer">&nbsp;&nbsp;&nbsp;&nbsp;{{row.wholename}}</span> -->
                                        </span>
                                        <label class="text-sm">{{row.name}}</label>
                                        <span class="bg-success text-xs font-bold b-white bottom" style="border-radius:10px" ng-if="row.active_status==1">&nbsp;&nbsp;{{row.wholename}}&nbsp;&nbsp;</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel panel-default" style="margin-bottom: 5px">
                            <div class="panel-heading" style="background-color:#38678B">
                                <label class="text-sm font-bold" style="color:white">
                                    <i class="fa fa-location-arrow"></i>&nbsp;&nbsp;Location</label>
                            </div>
                            <div class="panel-body" style="padding:0px">
                                <form class="form-horizontal" style="margin-left: 10px">
                                    <div class="form-group" style="margin-right: 0px; margin-top: 15px; margin-bottom: 5px;">
                                        <label class="col-sm-2 control-label text-sm font-bold">Building</label>
                                        <div class="col-sm-4">
                                            <select class='form-control input-sm' ng-model="building_id" ng-options="value.id as value.name for (key, value) in build_list"
                                                ng-change="onChangeBuilding()" ng-disabled="devicelist.length<=0">
                                            </select>
                                        </div>
                                        <!-- </div>
                                        <div class="form-group" style="margin-right: 0px; margin-top: 15px;"> -->
                                        <label class="col-sm-2 control-label text-sm font-bold">Location</label>
                                        <div class="col-sm-4">
                                            <select class='form-control input-sm' ng-model="location_choice" ng-options="value.id as value.label for (key, value) in locations"
                                                ng-change="onChangeLocation()" ng-disabled="devicelist.length<=0 ">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-right: 0px" ng-show="location_choice==1" style="margin-bottom: 5px;">
                                        <label class="col-sm-2 control-label text-sm font-bold">Floor(s)</label>
                                        <div class="col-sm-10">
                                            <tags-input ng-model="floor_tags" display-property="floor_name" ng-disabled="devicelist.length<=0" replace-spaces-with-dashes="false"
                                                on-tag-added="searchRooms()" on-tag-removed="searchRooms()">
                                                <auto-complete source="loadFloorFilters($query)" min-length="0" load-on-focus="true" load-on-empty="true" debounce-delay="0"
                                                    max-results="6">
                                                </auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 0px; margin-right: 2px; margin-bottom: 5px;">
                                        <label class="col-sm-2 control-label text-sm font-bold" ng-show="location_choice==0">Floor</label>
                                        <div class="col-sm-10" ng-show="location_choice==0">
                                            <div class="input-group" ng-show="location_choice==0">
                                                <input type="text" class="form-control input-sm" ng-disabled="devicelist.length<=0 " ng-keyup="$event.keyCode == 13 && searchFloors()"
                                                    ng-model="floor_query_name" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm" ng-disabled="devicelist.length<=0 " ng-click="searchFloors()">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                        <label class="col-sm-2 control-label text-sm font-bold" ng-show="location_choice==1">Room</label>
                                        <div class="col-sm-10" ng-show="location_choice==1">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" ng-disabled="devicelist.length<=0 " ng-keyup="$event.keyCode == 13 && searchRooms()"
                                                    ng-model="query_name" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm" ng-disabled="devicelist.length<=0 " ng-click="searchRooms()">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group label-group col-sm-14">
                                        <!-- <div class="col-sm-2 control-label">Select All</div> -->
                                        <div class="col-sm-7 control-label" style="margin-left: 7px">
                                            <button ng-model="select_all" class="btn btn-sm m-b-xs w-sm btn-success text-success font-bold" ng-disabled="models[0].items.length<=0 || devicelist.length<=0 "
                                                ng-click="checkAll()">
                                                {{select_all_text}}
                                            </button>
                                            <!-- <label class="m-t-xs m-r">
                                                <input type="checkbox"  checked="" ng-disabled="devicelist.length<=0 " class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false"
                                                    aria-invalid="false" ng-change="checkAll()">
                                                <i></i>
                                            </label> -->
                                        </div>
                                        <div class="col-sm-3" style="margin-top: 7px">
                                            <div ng-dropdown-multiselect="" options="filter_list" selected-model="filter_list_ids" checkboxes="true" extra-settings="filterlist_hint_setting"
                                                translation-texts="filterlist_hint" events="multiuserevents">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                                <div class="list-group" style="margin-bottom: px" dnd-list dnd-drop="onDrop(models[0], item, index,0)" fill-height additional-padding="200" debounce-wait="300">
                                    <a href uib-popover-template="'unassignedTemplate.html'" type="button" popover-placement="right" popover-title="Unassigned Rooms"
                                        class="list-group-item" ng-repeat="item in models[0].items" dnd-draggable="getSelectedItemsIncluding(models[0], item)"
                                        dnd-dragstart="onDragstart(models[0], event)" dnd-moved="onMoved(models[0])" dnd-dragend="models[0].dragging = false"
                                        dnd-selected="selection(item)" ng-class="{'selected': item.selected}"
                                        ng-hide="models[0].dragging && item.selected || location_choice==1" style="padding:6px">
                                        <i class="fa fa-chevron-right text-muted"></i>
                                        <span ng-show="item.unassigned_count>0" class="badge bg-success" title="Unassigned Rooms">{{item.unassigned_count}}</span>
                                        <!--<span class="badge" style="background-color: goldenrod" title="Credits">{{item.floor_credits}}</span>-->
                                        <i class="fa fa-bed fa-fw m-r-xs"></i>
                                        <label class="text-sm" style="margin-bottom:0px">{{item.floor_name}}</label>
                                    </a>
                                    <a href uib-popover-template="'adminrateTemplate.html'" popover-placement="right" popover-title="Assigned To" class="list-group-item"
                                        ng-repeat="item in models[0].items" dnd-draggable="getSelectedItemsIncluding(models[0], item)"
                                        dnd-dragstart="onDragstart(models[0], event)" dnd-moved="onMoved(models[0])" dnd-dragend="models[0].dragging = false"
                                        dnd-selected="selection(item)" ng-class="{'selected': item.selected}"
                                        ng-hide="models[0].dragging && item.selected || location_choice==0" style="padding:6px">
                                        <i class="fa fa-chevron-right text-muted"></i>
                                        <!-- <span class="badge" ng-class="{'bg-warning':item.dispatcher > 0, 'bg-success':item.dispatcher == 0}">{{item.max_time}}</span> -->
                                        <!-- <i class="fa fa-user-circle fa-fw m-r-xs"></i> {{item.staff[0]}} -->
                                        <!--<span ng-show="item.assigned_device_count>0" style="background-color: goldenrod" class="badge bg-success">{{item.assigned_device_list[0]}}</span>-->
                                        <!--<span class="badge" style="background-color: goldenrod" title="Credits">{{item.credits}}</span>-->
                                        <span class="badge bg-success" title="Room Status">{{item.occupancy}}  {{item.room_status}}</span>
                                        <i class="fa fa-bed fa-fw m-r-xs"></i>
                                        <label class="text-sm" style="margin-bottom:0px">{{item.room}}&nbsp;&nbsp;</label>
                                        <!--<i ng-show="item.pref" class="fa fa-cogs fa-fw m-r-xs" style="font-size:1em"></i>
                                        <span title="Preferences" class="text-sm" ng-show="item.pref">{{item.pref}}</span>&nbsp;&nbsp;
                                        <i ng-show="item.adult" class="fa fa-users fa-fw m-r-xs" style="font-size:1em"></i>
                                        <span title="Adults" class="text-sm" ng-show="item.adult">{{item.adult}}</span>&nbsp;&nbsp;
                                        <i ng-show="item.chld" class="fa fa-child fa-fw m-r-xs" style="font-size:1em"></i>
                                        <span title="Children" class="text-sm" ng-show="item.chld">{{item.chld}}&nbsp;&nbsp;</span>
                                         -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="panel panel-default" style="margin-bottom: 5px">
                            <div class="panel-heading" style="background-color:#38678B">
                                <label class="text-sm font-bold" style="color:white">
                                    <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Room Assignment</label>
                            
                                <!-- <button ng-show="models[1].items.length>0" class="btn btn-xs m-b-xs  btn-success text-success font-bold" ng-disabled="devicelist.length<=0 " ng-click="unAssignAll()">
                                                                    <i class="fa fa-chevron-left"></i>
                                                                </button> -->
                                <button ng-show="models[1].items.length>0" class="btn btn-rounded btn-icon btn-danger btn-xs" ng-disabled="devicelist.length<=0 "
                                    title="Clear" style="cursor: pointer" ng-click="unAssignAll()">
                                    <!-- <span class="text-danger"> -->
                                    <i class="fa fa-trash-o"></i>
                                    <!-- </span> -->
                                </button>
                                <div class="pull-right">
                                    <button ng-if="0"   class="btn btn-sm m-b-xs w-xs text-success font-bold {{td_css}}" ng-disabled="(devicelist.length<=0) "
                                        ng-click="onTurndown()">
                                         Turn Down
                                    </button>
                                    <button ng-show="update_flag==0" class="btn btn-sm m-b-xs w-xs btn-success text-success font-bold" ng-disabled="devicelist.length<=0||(models[1].items.length<=0) "
                                        ng-click="onAssign()">
                                        Assign
                                    </button>
                                    <button ng-show="(update_flag==1) && (models[1].items.length>0) " class="btn btn-sm m-b-xs w-xs btn-success text-success font-bold" ng-disabled="devicelist.length<=0 || (models[1].items.length<=0)"
                                        ng-click="onUpdate()">
                                        {{update}}
                                    </button>
                                    <button ng-show="(update_flag==1) && (models[1].items.length<=0)" class="btn btn-sm m-b-xs w-xs btn-success text-success font-bold"
                                         ng-click="onUpdate()">
                                        Save
                                    </button>
                                </div>
                            </div>
                            <div class="panel-body" style="padding: 5px">
                                <div fill-height additional-padding="250" dnd-list dnd-drop="onDrop(models[1], item, index,1)">
                                    <table st-table="assigned_list" st-pipe="creditTotal" class="table-condensed ticket table-striped b-t b-light" style="width:97%; margin:auto">
                                        <thead class="tblhead-sm" style="font-size: .7vw">
                                            <tr>
                                                <th class="text-center" width="10%">
                                                    <b>Room</b>
                                                </th>
                                                <th class="text-center" width="10%">
                                                    <b>Floor</b>
                                                </th>
                                                <!--<th class="text-center" width="5%">
                                                    <b>Pref</b>
                                                </th>
                                                <th class="text-center" width="5%">
                                                    <b>Adults</b>
                                                </th>
                                                <th class="text-center" width="5%">
                                                    <b>Kids</b>
                                                </th>
                                                <th class="text-center" width="5%">
                                                    <b>Credits</b>
                                                </th>-->
                                                <th class="text-center" width="20%">
                                                    <b>Type</b>
                                                </th>
                                                <th class="text-center" width="20%">
                                                    <b>Status</b>
                                                </th>
                                                <th class="text-center" width="20%">
                                                    <b>Occupancy</b>
                                                </th>
                                            </tr>
                                        </thead>
                            
                                        <tbody>
                                            <tr ng-repeat="item in models[1].items" class="drag_table table ticket table-striped b-t b-light" style="width:97%;" dnd-draggable="getSelectedItemsIncluding(models[1],item)" dnd-dragstart="onDragstart(models[1], event)" dnd-moved="onMoved(models[1])"
                                                dnd-dragend="models[1].dragging = false" dnd-selected="item.selected = !item.selected" ng-hide="models[1].dragging && item.selected"
                                                 ng-class="{'selected': item.selected}">
                                                <td class="text-center" width="10%">
                                                    <span class="text-sm">{{item.room}}</span>
                                                </td>
                                                <td class="text-center" width="5%">
                                                    <span class="text-sm">{{item.floor}}</span>
                                                </td>
                                                <!--<td class="text-center" width="5%">
                                                    <span class="text-sm">{{item.pref}}</span>
                                                </td>
                                                <td class="text-center" width="5%">
                                                    <span class="text-sm">{{item.adult}}</span>
                                                </td>
                                                <td class="text-center" width="5%">
                                                    <span class="text-sm">{{item.chld}}</span>
                                                </td>
                                                <td class="text-center" width="10%">
                                                    <span class="text-sm">{{item.credits}}</span>
                            
                                                </td>-->
                                                <td class="text-center" width="20%">
                                                    <span class="text-sm">{{item.room_type}}</span>
                                                </td>
                                                <td class="text-center" width="20%">
                                                    <span class="text-sm">{{item.room_status}}</span>
                                                </td>
                                                <td class="text-center" width="20%">
                                                    <span class="text-sm">{{item.occupancy}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            
                                </div>
                                <table ng-show="models[1].items.length>0" st-table="assigned_list" class="table ticket table-striped b-t b-light" style="width:97%; margin:auto">
                                    <thead class="tblhead-sm" style="font-size: .7vw">
                                        <tr>
                                            <th class="text-center" width="25%">
                                                <b>Total</b>
                                            </th>
                                            <th class="text-center" width="25%">
                                                <span>{{models[1].items.length}}</span>
                                            </th>
                                           <!-- <th class="text-center" width="25%">
                                                <b>Credits</b>
                                            </th>
                                            <th class="text-center" width="25%">
                                                <span>{{creditTotal()}}</span>
                                            </th>-->
                                        </tr>
                                    </thead>
                                </table>
                                <hr style="margin-top: 5px; margin-bottom: 5px">
                                <!-- <div class="row">
                                    <label class="col-sm-2" style="padding-left: 15px; padding-right: 0px">Total Rooms : {{selected_sub_count.total}}</label>
                                    <label class="col-sm-2" style="padding-left: 5px; padding-right: 0px">Total Checkin : {{selected_sub_count.check_in}}</label>
                                    <label class="col-sm-2" style="padding-left: 5px; padding-right: 0px">Total Due Out : {{selected_sub_count.due_out}}</label>
                                    <label class="col-sm-2" style="padding-left: 5px; padding-right: 0px">Total Arrival : {{selected_sub_count.arrival}}</label>
                                    <label class="col-sm-2" style="padding-left: 5px; padding-right: 0px">Total Check Out : {{selected_sub_count.check_out}}</label>
                                    <label class="col-sm-2" style="padding-left: 5px; padding-right: 0px">Total Dur : {{selected_sub_count.duration}} mins</label>
                                </div> -->
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>