<input type="hidden" id="id" value="-1" ng-model="model_data.id"/>

	<div class="panel panel-default"> 
		<div class="panel-heading wrapper"> 
			<!--
			<button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" ng-click="onShowEditRow(-1)">
				<span class="glyphicon glyphicon-plus"></span>
				<b> Add New </b>
			</button>   
		-->                          
			<i class="fa fa-phone"></i>                           
			<span class="font-bold">Skill Group Configuration</span>
		</div>                         
		<div> 
			<table id="table_grid" class="table table-hover table-bordered" style="text-align: center; width:100%" ng-model = "table_grid"> 
				<thead> 
					<tr> 
						<th style="text-align: center" ng-repeat = "field in fields">
							<b>{{field}}</b>
						</th>									
						<th class="no-sort" style="text-align: center">Edit</th>
						<th class="no-sort" style="text-align: center">Delete</th>
					</tr>                                     
				</thead>                    
			</table>                             
		</div>
	</div>      
	
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog" role="document"> 
		<div class="panel"> 
			<div class="modal-header bg"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
					<span aria-hidden="true">&times;</span> 
				</button>                             
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id<0">
					<i class="fa fa-plus"></i>&nbsp;Add Channel</h5>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id>=0">
					<i class="fa fa-pencil"></i>&nbsp;Edit Channel</h5>				
			</div>                         
			<div class="modal-body"> 
				<br> 
				<form class="form-horizontal"> 
					<div class="form-group">
						<label class="control-label col-sm-4" for="prpty_id">Skill Group:</label>
						<div class="col-sm-5">
							<select id='prpty_id' class='form-control' ng-model="model_data.skillgroup_id" 
								ng-options="value.id as value.label for (key, value) in skillgroup">		
							</select>							
						</div>
					</div>		
					<text-item formlabel="Email" modelname="model_data.email"></text-item>
					<text-item formlabel="Duration" modelname="model_data.duration"></text-item>			
				</form>                             
			</div>                         
			<submit-form id="model_data.id" updatedata="onUpdateRow()"></submit-form>						
		</div>                     
	</div>                 
</div>             

<dialog-delete title="Label" modelname="model_data.label" deletedata="deleteRow()"></dialog-delete>