<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h3 class="modal-title" style="color:#2691d9" id="Heading">Create Part Group</h3>
    </div>
    <br>
    <div class="modal-body">
        <form class="form-horizontal form-validation">
            <div class="form-group" >
                <label class="col-sm-4 text-right control-label text-muted" >Part Group</label>
                <div class="col-sm-5">
                    <input class="form-control input-sm"  ng-model="part_group.name"  required  popover-trigger="mouseenter">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 text-right control-label text-muted" >Description</label>
                <div class="col-sm-5">
                        <textarea class="form-control input-sm" rows="3" ng-model="part_group.description"
                                  style="resize:none"  popover-trigger="mouseenter" ></textarea>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-4 text-right control-label text-muted" >Code</label>
                <div class="col-sm-5  scrollable-dropdown-menu">
                    <input class="form-control input-sm"  ng-model="part_group.code"  required  popover-trigger="mouseenter">
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer ">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="createPartGroup()">
            <span class="glyphicon glyphicon-ok"></span>
            <b> Create</b>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span>
            <b> Cancel</b>
        </button>
    </div>

</div>

