<div ng-controller="ReservationNewController">
  <div class="col-sm-4 b-r bg-auto" style="height: 100%;">
    <div  class="col-centered col-sm-11">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-4">
            <p class="text-muted font-bold">Reservation # </p>
          </div>
          <div class="col-sm-3">
            <p class="text-primary font-bold">{{ticket_id}}</p>
          </div>
          
          <div class="col-sm-5">
            <button class="btn m-b-xs w-xs btn-success pull-right btn-sm" ng-click="createReservation()">Reserve</button>
          </div>
        </div>
      </form>
    </div>

      <div class="panel panel-default">
        <div class="panel-heading font-bold">Restaurant Info</div>
        <div class="panel-body">
          <form class="form-horizontal form-validation">
            <div class="form-group" >
              <div class="col-sm-9">
                <label>Restaurant</label>
                <input ng-model="restaurant_name" class="form-control  input-sm" required
                       uib-typeahead="restaurant.restaurant for restaurant in getRestaurantList($viewValue)"
                       typeahead-on-select="onRestaurantSelect($item, $model, $label)"/>
              </div>
			   <div class="col-sm-3">
                <label>Covers</label>
                <select class='form-control input-sm m-b' ng-model="reservation.seat" ng-change="onChangeAction()"
                        ng-options="seat for seat in seats">
                </select>
              </div>
            </div>

            <div class="form-group" >
               <div class="col-sm-8">
                <label>Date</label>
                <div class="input-group"  ng-controller="DatetimeController">
                  <input type="text" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" ng-model="reservation.date" is-open="opened" date-disabled="disabled(date, mode)" datepicker-options="dateOptions" ng-required="true" close-text="Close" required />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
              </div>

              <div class="col-sm-4">
                <label>Time</label>
                <input type="text" size="8" class="form-control input-sm m-b" ng-model="reservation.time" data-time-format="h:mm:ss a" data-autoclose="1" placeholder="Time" bs-timepicker required>
              </div>
            </div>

          </form>
        </div>
      </div>

        <div class="panel panel-default">
          <div class="panel-heading font-bold">Patron Info</div>
          <div class="panel-body">
            <form class="form-horizontal form-validation">
              <div class="form-group">
                 <div class="col-sm-12">
                <label >Room/Mobile #</label>
                <input ng-model="guest.room" class="form-control  input-sm" required/>
                </div>
              </div>
              <div class="form-group" >
                <div class="col-sm-6">
                  <label>Guest Name</label>
                  <input ng-model="patron_name" class="form-control  input-sm" required
                         uib-typeahead="patron.name for patron in getPatronList($viewValue)"
                         typeahead-on-select="onSelectPatron($item, $model, $label)"/>
                         </div>
               <div class="col-sm-6">
                  <label>Email</label>
                  <input ng-model="patron.email" class="form-control  input-sm" required ng-disabled="!new_patron_flag"/>
                </div>

              </div>


              <div class="form-group" >
                <div class="col-sm-12">
                  <label>Ocassion</label>
                 <input ng-model="guest.room" class="form-control  input-sm" required/>
                </div>
              </div>
              <div class="form-group" >
                <div class="col-sm-12">
                  <label>Special Request</label>
                 <input ng-model="guest.room" class="form-control  input-sm" required/>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  <div class="col-sm-8">
    
    <div class="col-lg-8" style="{{tab_full_height}}">
      <div class="tables-container row">
        <div class="col-md-2 restaurant-table" ng-repeat="table in tables">
          <h4 style="cursor:pointer"  tooltip-html-unsafe='<p>Position:{{table.location}}</p><img style="display:block;" width="320" height="225" src="{{table.image_url}}"/><p>Description: {{table.description}}</p>' tooltip-placement="bottom" tooltip-append-to-body="false">Table No. {{table.number}}</h4>
          <p><b>Number of Covers: {{table.seats}}</b></p>
          <!-- 0: unavailable, 1, available, 2, reserved -->
          <button class="btn btn-sm btn-default disabled" ng-show="table.status==0" disabled>Unavailable</button>
          <button class="btn btn-sm btn-info" ng-show="table.status==1" disabled>Reserved</button>
          <button class="btn btn-sm btn-danger" ng-show="table.status==2" ng-disabled="!restaurant.query_flag" ng-click="table.status = 5 - table.status">Reserve</button>
          <button class="btn btn-sm btn-success" ng-show="table.status==3" ng-disabled="!restaurant.query_flag" ng-click="table.status = 5 - table.status">Cancel</button>
        </div>
      </div><!-- end tables container -->

    </div>

  </div>
</div>