<style>
    .navbar-right_h {
        float: right !important;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
    }
</style>
<div class="navbar-inverse box-shadow" style="vertical-align:middle;">
    <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
        <!--</button>-->

        <!-- brand -->
        <a class="navbar-brand text-lt" >
            <img src="img/guest_login_logo.png" alt="HotLync" style="margin-left: -7px; width:200px; height: 30px"   >
        </a>
        <a  class="navbar-right_h text-lt"     ng-click="goPage()">
            <i class="fa fa-arrow-left" ></i>
        </a>
        <!-- / brand -->
    </div>
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed" >
        <!--<ul class="nav navbar-nav navbar-right"   >-->
            <!--<li><a ui-sref="app.promotion" ng-click="navCollapsed = !navCollapsed"  >PROMOTION</i></a></li>-->
            <!--<li><a ui-sref="app.request" ng-click="navCollapsed = !navCollapsed"  >GUEST REQUEST</a></li>-->
            <!--<li><a ui-sref="app.chat" ng-click="navCollapsed = !navCollapsed" >CHAT WITH US</a></li>-->
            <!--<li><a ui-sref="app.chat" ng-click="navCollapsed = !navCollapsed" >FEEDBACK</a></li>-->
            <!--<li><a ng-click="logout()">LOGOUT</a></li>-->
        <!--</ul>-->
    </div>
</div>

