<div class="form-group">
	<label class="control-label col-sm-4" for="{{formlabel}}">{{formlabel}} :</label>
	<div class="col-sm-5">
		<p class="input-group">
	        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="modelname" is-open="picker_open" datepicker-options="dateoptions" />
	        <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="picker_open = true"><i class="glyphicon glyphicon-calendar"></i></button>
	        </span>
        </p>
	</div>
</div>