<input type="hidden" id="id" value="-1" ng-model="model_data.id"/>
 
	<div class="panel panel-default"> 
		<div class="panel-heading wrapper"> 
			<button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" ng-click="onShowEditRow(-1)">
				<span class="glyphicon glyphicon-plus"></span>
				<b> Add New </b>
			</button>                             
			<i class="fa fa-cubes"></i>                            
			<span class="font-bold">Interface Alarm Management</span>
		</div>                         
		<div> 
			<table id="table_grid" class="table table-hover table-bordered" style="text-align: center;width:100%" ng-model = "table_grid"> 
				<thead> 
					
						<tr><!--
							<th class="no-sort" style="text-align: center">
								<input type="checkbox" id="checkall" />
							</th>-->
							<th style="text-align: center" ng-repeat = "field in fields">
								<b>{{field}}</b>
							</th>														
							<th class="no-sort" style="text-align: center">Edit</th>
							<th class="no-sort" style="text-align: center">Delete</th>
						</tr>
					                                     
				</thead>                    
			</table>                             
		</div>                     
	</div>  
	
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog" role="document"> 
		<div class="panel"> 
			<div class="modal-header bg">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
					<span aria-hidden="true">&times;</span> 
				</button>                             
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id<0">
					<i class="fa fa-plus"></i>&nbsp;Add Interface Alarm</h5>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id>=0">
					<i class="fa fa-pencil"></i>&nbsp;Edit Interface Alarm</h5>
			</div>                         
			<div class="modal-body"> 
				<br> 
				<form class="form-horizontal"> 
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Property:</label>
						<div class="col-sm-5">
							<select id='prpty_id' class='form-control' ng-model="model_data.property_id"
								ng-options="value.id as value.name for (key, value) in properties">		
							</select>							
						</div>
					</div>
					
					<text-item formlabel="Email" modelname="model_data.email"></text-item>
					<text-item formlabel="Password" modelname="model_data.password"></text-item>
					<text-item formlabel="SMTP Server" modelname="model_data.smtp_server"></text-item>
					<text-item formlabel="SMTP Port" modelname="model_data.smtp_port"></text-item>
					<link href="/lib/angular/angular-toggle-switch-bootstrap-3.css" media="all" rel="stylesheet" type="text/css">
					
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Use Authentication:</label>
						<div class="col-sm-5">
							<div toggle-switch class="switch-primary" on-label="Yes" off-label="No" ng-model="chk_auth"></div>
						</div>						
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Use SSL/TLS/STARTTLS:</label>
						<div class="col-sm-5">
							<div toggle-switch class="switch-primary" on-label="True" off-label="False" ng-model="chk_ssl"></div>
						</div>						
					</div>

					<text-item formlabel="SMS Host" modelname="model_data.sms_host"></text-item>
					<text-item formlabel="SMS Username" modelname="model_data.sms_username"></text-item>
					<text-item formlabel="SMS Password" modelname="model_data.sms_password"></text-item>
					<text-item formlabel="SMS From" modelname="model_data.sms_from"></text-item>
					
				</form>                             
			</div>                         
			<submit-form id="model_data.id" updatedata="onUpdateRow()"></submit-form>						
		</div>                     
	</div>                 
</div>             

<dialog-delete title="Alarm" modelname="model_data.name" deletedata="deleteRow()"></dialog-delete>