<input type="hidden" id="id" value="-1" ng-model="model_data.id"/>
 
	<div class="panel panel-default"> 
		<div class="panel-heading wrapper"> 
			<button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" ng-click="onShowEditRow(-1)">
				<span class="glyphicon glyphicon-plus"></span>
				<b> Add New </b>
			</button>                             
			<i class="fa fa-cubes"></i>                            
			<span class="font-bold">Protocol Management</span>
		</div>                         
		<div class=""> 
			<table id="table_grid" class="table table-hover table-bordered" style="text-align: center;width:100%" ng-model = "table_grid"> 
				<thead> 
					<tr> 
						<tr><!--
							<th class="no-sort" style="text-align: center">
								<input type="checkbox" id="checkall" />
							</th>-->
							<th style="text-align: center" ng-repeat = "field in fields">
								<b>{{field}}</b>
							</th>														
							<th class="no-sort" style="text-align: center">Edit</th>
							<th class="no-sort" style="text-align: center">Delete</th>
						</tr>
					</tr>                                     
				</thead>                    
			</table>                             
		</div>                     
	</div> 
	
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	<div class="modal-dialog" role="document"> 
		<div class="panel"> 
			<div class="modal-header bg"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
					<span aria-hidden="true">&times;</span> 
				</button>                             
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id<0">
					<i class="fa fa-plus"></i>&nbsp;Add Protocol</h5>
				<h5 class="modal-title font-bold" style="color:#2691d9" ng-if="model_data.id>=0">
					<i class="fa fa-pencil"></i>&nbsp;Edit Protocol</h5>
			</div>                         
			<div class="modal-body"> 
				<br> 
				<form class="form-horizontal"> 
					<text-item formlabel="Name" modelname="model_data.name"></text-item>
					
					<div class="form-group">
						<label class="control-label col-sm-4" for="External Type">Type:</label>
						<div class="col-sm-5">
							<select class='form-control' ng-model="model_data.type"
								ng-options="value for value in types">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="Property">Active:</label>
						<div class="col-sm-5">
							<div toggle-switch class="switch-primary" on-label="Yes" off-label="No" ng-model="chk_active"></div>
						</div>
					</div>

					<link href="/lib/angular/angular-toggle-switch-bootstrap-3.css" media="all" rel="stylesheet" type="text/css">
					<div class="form-group">
						<label class="control-label col-sm-4" for="Checksum Type">Type:</label>
						<div class="col-sm-5">
							<select class='form-control' ng-model="model_data.checksum_type"
									ng-options="value for value in checksum_types"
									ng-disabled="!chk_active"
									>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="Checksum Position" >Checksum Position : </label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="group_name" placeholder="" ng-model = "model_data.checksum_pos" ng-disabled="!chk_active">
						</div>
					</div>

				</form>                             
			</div>                         
			<submit-form id="model_data.id" updatedata="onUpdateRow()"></submit-form>						
		</div>                     
	</div>                 
</div>             

<dialog-delete title="Protocol" modelname="model_data.name" deletedata="deleteRow()"></dialog-delete>