 <!-- Sidebar -->
<div id="sidebar-wrapper">
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a href="#">Interface Statistics</a>
			</li>
			<li>
				<a href="#">System Errors</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-hotel fa-stack-1x "></i></span> Property</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a data-toggle="pill" href="#client"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Client</a>
			</li>
			<li>
				<a data-toggle="pill" href="#property"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Property</a>
			</li>
			<li>
				<a href="#building"><span class="fa-stack fa-lg pull-left"><i class="fa fa-building fa-stack-1x "></i></span>Building</a>
			</li>
			<li>
				<a href="#floors"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Floors</a>
			</li>
			<li>
				<a href="#roomtype"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Room Type</a>
			</li>
			<li>
				<a href="#room"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Room</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Admin</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Department</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Admin Area</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Common Area</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Outdoor</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calculator fa-stack-1x "></i></span>Call Accounting</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a href="#/call/section"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Section</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Admin Extensions</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Guest Extensions</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Destination</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Carrier</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Carrier Groups</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Carrier Charge</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Property Charge</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Tax</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Allowance</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Time Slabs</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Rate Mapping</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bell fa-stack-1x "></i></span> Guest Services</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Department FUnctions</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Escalation Groups</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Tasks</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Task Groups</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>Shifts</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Houskeeping</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-glass fa-stack-1x "></i></span>Minibar</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Engineering</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Preventive Maintenance</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Inventory</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Work Order</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Scheduling</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Equipment</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Suppliers</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>User</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Permission</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>Persmission Groups</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>User</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>User Groups</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-volume-control-phone fa-stack-1x "></i></span>IVR</a>
		<ul class="nav-pills nav-stacked" style="list-style-type:none;">
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-asterisk fa-stack-1x "></i></span>Asterisk</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope fa-stack-1x "></i></span>Voicemail</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-microphone fa-stack-1x "></i></span>Recording</a>
			</li>
			<li>
				<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>User Groups</a>
			</li>
		</ul>
	</li>
</ul>