<div class=" panel panel-default" style="border-color: #dee5e7">
    <div class="panel-heading wrapper">
        <div  style="float:right; margin-top: -5px; background: #efefef;padding:5px 10px 5px 10px;color: #868585;font-size: 16px; " >
            <strong>{{message}}</strong>
         <!--  <button type="button" class="btn btn-success btn-sm" style="float:right; margin-top: -5px" data-toggle="modal" data-target="#addModal" ng-disabled="job_role!='SuperAdmin'&&edit_flag==0" ng-click="saveMinibar()">
            <span class="glyphicon glyphicon-plus"></span>
            <b> Update </b>
        </button> -->
        </div>
        <i class="fa fa-cog"></i>
        <span class="font-bold"> &nbsp;&nbsp;Configuration</span>
    </div>
    <div class="" style="background-color: #eeeeee">
        <!----------------------left  general --->
        <div class="col-sm-6">
            <div>
                <h5><strong> Minibar</strong></h5>
            </div>
            <div style="margin-left: 30px">
                <div class="form-horizontal" >
                    <div class="form-group">
                        <label class="col-sm-3">Posting type</label>
                        <div class="col-sm-4">
                            <select  class='form-control' ng-model="minibar_posting_type"
                                    ng-options="type for type in minibar_posting_type_list"
                                    ng-change="saveMinibar('minibar_posting_type',minibar_posting_type, 'minibar')" >
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3">VAT%</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="vat"
                            ng-keypress="($event.which === 13)?saveMinibar('vat', vat, 'minibar'):0" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">VAT No</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="vat_no"
                                   ng-keypress="($event.which === 13)?saveMinibar('vat_no', vat_no, 'minibar'):0" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Municipality Fee</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="muncip_fee"
                                   ng-keypress="($event.which === 13)?saveMinibar('muncip_fee', muncip_fee, 'minibar'):0" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Service Charge</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="ser_chrg"
                                   ng-keypress="($event.which === 13)?saveMinibar('ser_chrg', ser_chrg, 'minibar'):0" />
                        </div>
                    </div>

                    <div class="checkbox" style="margin-bottom: 20px" >
                        <label>
                            <input type="checkbox"  ng-model="minibar_posting_checkout_allow" ng-checked = "minibar_posting_checkout_allow"
                                   ng-change="saveMinibar('minibar_posting_checkout_allow', minibar_posting_checkout_allow, 'minibar')" />
                            Allow Checkout Post
                        </label>
                    </div>
                    <div class="checkbox" style="margin-bottom: 20px" >
                        <label>
                            <input type="checkbox"  ng-model="allow_minibar_post" ng-checked = "allow_minibar_post"
                                   ng-change="saveMinibar('allow_minibar_post', allow_minibar_post, 'minibar')" />
                            Allow Minibar Post
                        </label>
                    </div>
                    <div class="checkbox" style="margin-bottom: 20px" >
                        <label>
                            <input type="checkbox"  ng-model="disable_minibar_nopost" ng-checked = "disable_minibar_nopost"
                                   ng-change="saveMinibar('disable_minibar_nopost', disable_minibar_nopost, 'minibar')" />
                            Disable Minibar No Post
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

