<input type="hidden" id="id" value="-1" ng-model="model_data.id"/>
<link href="/lib/angular/angular-toggle-switch-bootstrap-3.css"
      media="all" rel="stylesheet" type="text/css">

<style>
    .pointer-events-none {
        pointer-events: none !important;
        background-color: #eee;
        cursor: not-allowed !important;
    }
    .pointer-events-none .tags {
        background-color: #eee !important;
    }
    .pointer-events-none input {
        background-color: #eee !important;
    }
</style>
<div class="panel panel-default" style="border-color: #dee5e7">
  <div class="panel-heading wrapper">
    <div  style="float:right; margin-top: -5px; background: #efefef;padding:5px 10px 5px 10px;color: #868585">
      <strong>{{message}}</strong>
    </div>
    <i class="fa fa-cog"></i>
    <span class="font-bold"> &nbsp;&nbsp;Configuration</span>
  </div>
  <div style="background-color: #eeeeee">
        <!-- - - - - - LEFT GENERAL - - - - - -->
    <div class="col-sm-6">
      <div style="margin-left: 10px">
				<!-- - - - - - All Departments - - - - - -->
        <div style="display: flex; align-items: center">
            <div>
                <h4><i class="fa fa-laptop"></i> <strong>&nbsp;All Departments &nbsp;&nbsp;(</strong>&nbsp;&nbsp;</h4>
            </div>
            <div toggle-switch class="switch-primary"
                 ng-model="request_data.all_department.enable_flag"
                 ng-change="saveDepartment('all')"
            >
            </div>
            <div>
                <h4><strong>&nbsp;&nbsp;)</strong></h4>
            </div>
        </div>
          <div style="padding-left: 16px">
              <div class="checkbox">
                  <label style="font-size: 15px">
                      <input type="checkbox"
                             ng-disabled="request_data.all_department.enable_flag != true"
                             ng-model="request_data.all_department.job_role"
                             ng-change="checkChanged()"/> <strong>Job Role to notify</strong>
                  </label>
              </div>
              <div class="scrollable-dropdown-menu">
                  <tags-input
                          ng-model="request_data.all_department.job_list" display-property="job_role"
                          style="margin-top: -5px"
                          class="{{request_data.all_department.enable_flag != true
                                || request_data.all_department.job_role != true
                                ? 'pointer-events-none' : ''}}"
                          replace-spaces-with-dashes="false" placeholder="Add Job Role"
                          min-length="0"
                          on-tag-added="checkChanged()"
                          on-tag-removed="checkChanged()"

                  >
                      <auto-complete source="joblistFilter($query)"
                                     min-length="0"
                                     debounce-delay="0"
                                     load-on-focus="true"
                                     load-on-empty="true"
                                     max-results-to-show="10"
                                     required
                      >
                      </auto-complete>
                  </tags-input>
              </div>
              <br>
              <h5 ><strong>Frequenty</strong></h5>
              <div class="form-horizontal" style="padding-left: 16px;">
                  <div class="form-group">
                      <div class="checkbox col-sm-3">
                          <label style="font-size: 15px">
                              <input type="checkbox"
                                     ng-disabled="request_data.all_department.enable_flag != true"
                                     ng-model="request_data.all_department.frequency.daily"
                                     ng-change="checkChanged()"/> Daily
                          </label>
                      </div>
                      <div class="col-sm-7">
                          <div class="bootstrap-touchspin" style="width: 130px">
                              <input type="time"
                                     ng-disabled="request_data.all_department.enable_flag != true
                                     || request_data.all_department.frequency.daily != true"
                                     value="{{request_data.all_department.frequency.daily_time}}"
                                     ng-model="tempAllDailyTime"
                                     ng-blur="changeTime('all_daily_time')"
                                     id="all_daily_time"
                                     class="form-control text-center"/>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-horizontal" style="padding-left: 16px;">
                  <div class="form-group">
                      <div class="checkbox col-sm-3">
                          <label style="font-size: 15px">
                              <input type="checkbox"
                                     ng-disabled="request_data.all_department.enable_flag != true"
                                     ng-model="request_data.all_department.frequency.weekly"
                                     ng-change="checkChanged()"
                              /> Weekly
                          </label>
                      </div>
                      <div class="col-sm-3">
                          <select class='form-control {{request_data.all_department.enable_flag != true
                          || request_data.all_department.frequency.weekly != true ? "pointer-events-none" : ""}}'
                                  ng-model="request_data.all_department.frequency.weekly_day"
                                  ng-options="type for type in weekly_options"
                                  ng-change="checkChanged()" >
                          </select>
                      </div>
                      <div class="col-sm-3">
                          <div class="bootstrap-touchspin" style="width: 130px">
                              <input type="time"
                                     ng-disabled="request_data.all_department.enable_flag != true
                                     || request_data.all_department.frequency.weekly != true"
                                     ng-blur="changeTime('all_weekly_time')"
                                     ng-model="tempAllWeeklyTime"
                                     value="{{request_data.all_department.frequency.weekly_time}}"
                                     class="form-control text-center"
                                     id="all_weekly_time"
                              />
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-horizontal" style="padding-left: 16px;">
                  <div class="form-group">
                      <div class="checkbox col-sm-3">
                          <label style="font-size: 15px">
                              <input type="checkbox"
                                     ng-disabled="request_data.all_department.enable_flag != true"
                                     ng-model="request_data.all_department.frequency.monthly"
                                     ng-change="checkChanged()"
                                     /> Monthly
                          </label>
                      </div>
                      <div class="col-sm-7">

                          <div class="bootstrap-touchspin" style="width: 130px">
                              <input type="time" ng-disabled="request_data.all_department.enable_flag != true
                               || request_data.all_department.frequency.monthly != true"
                                     ng-model="tempAllMonthlyTime"
                                     value="{{request_data.all_department.frequency.monthly_time}}"
                                     ng-blur="changeTime('all_monthly_time')" class="form-control text-center"
                                     id="all_monthly_time"
                              />
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-horizontal" style="padding-left: 16px;">
                  <div class="form-group">
                      <div class="checkbox col-sm-3">
                          <label style="font-size: 15px">
                              <input type="checkbox"
                                     ng-disabled="request_data.all_department.enable_flag != true"
                                     ng-change="checkChanged()"
                                     ng-model="request_data.all_department.frequency.yearly"
                                      /> Yearly
                          </label>
                      </div>
                      <div class="col-sm-7">
                          <div class="bootstrap-touchspin" style="width: 130px">
                              <input ng-disabled="request_data.all_department.enable_flag != true
                              || request_data.all_department.frequency.yearly != true"
                                     ng-model="tempAllYearlyTime"
                                     value="{{request_data.all_department.frequency.yearly_time}}"
                                     id="all_yearly_time"
                                     ng-blur="changeTime('all_yearly_time')" type="time" class="form-control text-center"/>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        <!-- - - - - - Individual Department - - - - - -->
          <div style="display: flex; align-items: center">
              <div>
                  <h4><i class="fa fa-laptop"></i> <strong>&nbsp;Individual Department &nbsp;&nbsp;(</strong>&nbsp;&nbsp;</h4>
              </div>
              <div toggle-switch class="switch-primary"
                   ng-model="request_data.individual_department.enable_flag"
                   ng-change="saveDepartment('individual')"
              >
              </div>
              <div>
                  <h4><strong>&nbsp;&nbsp;)</strong></h4>
              </div>
          </div>
      </div>
        <div style="padding-left: 16px">
            <div class="checkbox">
                <label style="font-size: 15px">
                    <input type="checkbox"
                           ng-disabled="request_data.individual_department.enable_flag != true"
                           ng-model="request_data.individual_department.job_role"
                           ng-change="checkChanged()"/> <strong>Job Role to notify</strong>
                </label>
            </div>

            <div class="form-horizontal" style="padding-left: 16px;">
                <div class="form-group" style=" padding-bottom: 10px">
                    <div class="col-sm-3" style="display: flex; align-items: center; padding-top: 6px; font-size: 16px; ">
                        <label class="i-switch m-t-xs m-r" style="margin-top: 0;">
                            <input type="checkbox"
                                   ng-disabled="request_data.individual_department.enable_flag != true
                                   || request_data.individual_department.job_role != true"
                                   ng-model="addDepartmentFlag">
                            <i></i>
                        </label>
                        Add Department
                    </div>
                    <div class="col-sm-6 scrollable-dropdown-menu" ng-if="addDepartmentFlag == true">
                        <tags-input
                                ng-model="departmentArr" display-property="department"
                                style="margin-top: -5px"
                                    replace-spaces-with-dashes="false" placeholder="Add Department"
                                    min-length="0"
                        >
                            <auto-complete source="departmentsFilter($query)"
                                           min-length="0"
                                           debounce-delay="0"
                                           load-on-focus="true"
                                           load-on-empty="true"
                                           max-results-to-show="10"
                                           required
                            >
                            </auto-complete>
                        </tags-input>
                    </div>
                    <div class="col-sm-3" ng-if="addDepartmentFlag == true && departmentArr.length > 0">
                        <button class="btn btn-info" ng-click="onAddDepartment()">
                            <i class="fa fa-plus"></i> &nbsp;Add Departments
                        </button>
                    </div>
                </div>
                <div class="form-group" style="padding-left: 16px" ng-repeat="jobItem in request_data.individual_department.job_list">
                    <div class="checkbox col-sm-3">
                        <label style="font-size: 15px">
                            <input type="checkbox"
                                   ng-disabled="request_data.individual_department.enable_flag != true
                                   || request_data.individual_department.job_role != true"
                                   ng-model="jobItem.enable"
                                   ng-change="checkChanged()"/> {{jobItem.department}}
                        </label>
                    </div>
                    <div class="col-sm-6 scrollable-dropdown-menu " >
                        <tags-input
                                ng-model="jobItem.roles" display-property="job_role"
                                style="margin-top: -5px"
                                class="{{request_data.individual_department.enable_flag != true
                                || request_data.individual_department.job_role != true
                                || jobItem.enable != true
                                || jobRoleDataForIndividual[jobItem.id] == undefined
                                ? 'pointer-events-none' : ''}}"
                                replace-spaces-with-dashes="false" placeholder="Add Job Role"
                                min-length="0"
                                on-tag-added="checkChanged()"
                                on-tag-removed="checkChanged()"
                        >
                            <auto-complete source="jobRoleFilter($query, jobItem.id)"
                                           min-length="0"
                                           debounce-delay="0"
                                           load-on-focus="true"
                                           load-on-empty="true"
                                           max-results-to-show="10"
                                           required
                            >
                            </auto-complete>
                        </tags-input>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-icon btn-danger"
                                title="Remove"
                                ng-disabled="request_data.individual_department.enable_flag != true
                                || request_data.individual_department.job_role != true
                                || jobItem.enable != true"
                                ng-click="onRemoveJobItem($index, jobItem)">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <h5 ><strong>Frequenty</strong></h5>
            <div class="form-horizontal" style="padding-left: 16px;">
                <div class="form-group">
                    <div class="checkbox col-sm-3">
                        <label style="font-size: 15px">
                            <input type="checkbox"
                                   ng-disabled="request_data.individual_department.enable_flag != true"
                                   ng-model="request_data.individual_department.frequency.daily"
                                   ng-change="checkChanged()"/> Daily
                        </label>
                    </div>
                    <div class="col-sm-7">
                        <div class="bootstrap-touchspin" style="width: 130px">
                            <input type="time"
                                   ng-disabled="request_data.individual_department.enable_flag != true
                                   || request_data.individual_department.frequency.daily != true"
                                   ng-model="tempIndividualDailyTime"
                                   value="{{request_data.individual_department.frequency.daily_time}}"
                                   id="individual_daily_time"
                                   ng-blur="changeTime('individual_daily_time')"
                                   class="form-control text-center"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" style="padding-left: 16px;">
                <div class="form-group">
                    <div class="checkbox col-sm-3">
                        <label style="font-size: 15px">
                            <input type="checkbox"
                                   ng-disabled="request_data.individual_department.enable_flag != true"
                                   ng-model="request_data.individual_department.frequency.weekly"
                                   ng-change="checkChanged()"
                            /> Weekly
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <select class='form-control {{request_data.individual_department.enable_flag != true
                        || request_data.individual_department.frequency.weekly != true ? "pointer-events-none" : ""}}'
                                ng-model="request_data.individual_department.frequency.weekly_day"
                                ng-options="type for type in weekly_options"
                                ng-change="checkChanged()" >
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="bootstrap-touchspin" style="width: 130px">
                            <input type="time"
                                   ng-disabled="request_data.individual_department.enable_flag != true
                                   || request_data.individual_department.frequency.weekly != true"
                                   ng-model="tempIndividualWeeklyTime"
                                   value="{{request_data.individual_department.frequency.weekly_time}}"
                                   class="form-control text-center"
                                   id="individual_weekly_time"
                                   ng-blur="changeTime('individual_weekly_time')"
                            />
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-horizontal" style="padding-left: 16px;">
                <div class="form-group">
                    <div class="checkbox col-sm-3">
                        <label style="font-size: 15px">
                            <input type="checkbox"
                                   ng-disabled="request_data.individual_department.enable_flag != true"
                                   ng-model="request_data.individual_department.frequency.monthly"
                                   ng-change="checkChanged()"
                            /> Monthly
                        </label>
                    </div>
                    <div class="col-sm-7">
                        <div class="bootstrap-touchspin" style="width: 130px">
                            <input type="time"
                                   ng-disabled="request_data.individual_department.enable_flag != true
                                   || request_data.individual_department.frequency.monthly != true"
                                   ng-model="tempIndividualMonthlyTime"
                                   value="{{request_data.individual_department.frequency.monthly_time}}"
                                   id="individual_monthly_time"
                                   ng-blur="changeTime('individual_monthly_time')"
                                   class="form-control text-center"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" style="padding-left: 16px;">
                <div class="form-group">
                    <div class="checkbox col-sm-3">
                        <label style="font-size: 15px">
                            <input type="checkbox"
                                   ng-disabled="request_data.individual_department.enable_flag != true"
                                   ng-change="checkChanged()"
                                   ng-model="request_data.individual_department.frequency.yearly"
                            /> Yearly
                        </label>
                    </div>
                    <div class="col-sm-7">
                        <div class="bootstrap-touchspin" style="width: 130px">
                            <input type="time"
                                   ng-disabled="request_data.individual_department.enable_flag != true
                            || request_data.individual_department.frequency.yearly != true"
                                   ng-model="tempIndividualYearlyTime"
                                   value="{{request_data.individual_department.frequency.yearly_time}}"
                                   ng-blur="changeTime('individual_yearly_time')"
                                   id="individual_yearly_time"
                                   class="form-control text-center"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!----end----->
      <div class="col-sm-6">
          <div class="form-group" style="padding-top: 40px; padding-bottom: 100px">
              <button type="button" style="margin-right: 30px; min-width: 100px"
                      class="btn btn-info {{bChanged || isLoading ? '' : 'disabled'}}"
                      ng-click="saveRequestSettingInfo()">
                  {{isLoading ? 'Loading' : 'Update'}}</button>
              <button type="button" style="min-width: 100px"
                      class="btn btn-danger {{bChanged || isLoading ? '' : 'disabled'}}"
                      ng-click="onReset()">Reset</button>
          </div>
      </div>
    </div>
</div>

<script src="../js/ui-jp.js"></script>
 
