<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12 b-r">
            <h3 class="m-t-none m-b font-thin"><b>Clear Roster</b></h3>
            <form role="form">
                
                <div class="form-group">
                    <label style="font-size: 15px">{{warning1}}.Do you want to continue?</label>
                </div>
                <div class="checkbox m-t-lg pull-right ">
                    <button type="submit" class="btn btn-sm btn-primary text-uc m-t-n-xs" ng-click="okClear(item)"><strong>&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;</strong></button>
                    <button type="submit" class="btn btn-sm btn-default text-uc m-t-n-xs" ng-click="cancelClear()"><strong>&nbsp;&nbsp;Cancel&nbsp;&nbsp;</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>