<style>
  tbody > tr > th, tfoot > tr > th, tbody > tr > td, tfoot > tr > td {
    /*padding: 1px 1px;*/
    text-align: center;
    vertical-align: middle;
  }

  .jqplot-target {
    color:#ffffff;
    background-color: #2a2a2a;
  }
  .jqplot-table-legend {
    /*background-color: #595959;*/
    background-color: #2a2a2a;
    font-size: 0.9em;
    border: 1px solid #2a2a2a;
    padding-top:1em;
    padding-left:1em;
  }
  .jqplot-title {
    padding-top: 0.6em;
    font-size: 1.2em;
  }

  div.jqplot-table-legend-swatch-outline {
    border: 1px solid #2a2a2a;
  }

  svg text {
    fill: white;

  }

  .nvd3 .nv-legend text {
    font: normal 10px Arial;
  }

  .nvd3.nv-pie .nv-slice text {
    fill: white !important;
  }

  .nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,0);
  }

  .tick line{
    opacity: 0.2;
  }
  .status-view:hover{
    color:#0b2ef4;
  }
  .nvd3 .nv-legend .nv-series {
    display: none;
  }
</style>
<div ng-controller="CallaccountDashboardsController" >
  <div style="overflow-y: auto;background-color: #141414; height: 100vh;">
    <div class="wrapper-md1 bg-light lt"  style="background-color: #141414" >
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black" style="color:#337ab7">
          <label style="font-size: 1.5vw"><i class="glyphicon glyphicon-dashboard"></i>
            &nbsp;&nbsp;Call Accounting
          </label>
        </h1>
      </div>
      <div class="col-sm-6 input-group text-right">
        <a ui-fullscreen style="margin-right: 20px"></a>
        <div class="btn-group">
          <!--<a ng-click="onDownloadPDF()"><i class="fa fa-file-pdf-o" style="font-size: 30px; color:red" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;-->
        </div> <!-- Dummy Need to add logic to export dash to pdf -->
        <div class="btn-group">
          <label class="btn btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Today'">Today</label>
          <label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Weekly'">Weekly</label>
          <label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Monthly'">Monthly</label>
          <label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Yearly'">Yearly</label>
          <label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Custom Days'">Custom Days</label>
        </div>
        <input style="width: 200px; margin-left: 10px" ng-disabled="filter.dateFilter != 'Custom Days'" ng-model="filter.daterange" ui-jq="daterangepicker" ui-options="dateRangeOption" class="form-control pull-right input-sm">
      </div>
    </div>
    <!-- / main header -->
    <div style="margin-top: 8px">
      <!-- stats -->
      <div class="col-md-12">
        <div class="row row-sm text-center">
          <div class="col-xs-2">
            <a href class="block padder-v bg-dark" style="border-radius: 6px">
              <span class="font-thin h1 block" style="color: #f89406">{{subcount.international}}</span>
              <span class="text-muted text-xs">International</span>
            </a>
          </div>
          <div class="col-xs-2">
            <a href class="block panel padder-v bg-dark" style="border-radius: 6px">
              <span class="font-thin h1 block" style="color: #23b7e5">{{subcount.national}}</span>
              <span class="text-muted text-xs">National</span>
            </a>
          </div>

          <div class="col-xs-2">
            <a href class="block panel padder-v bg-dark" style="border-radius: 6px">
              <span class="font-thin h1 block" style="color: #27c24c">{{subcount.mobile}}</span>
              <span class="text-muted text-xs">Mobile</span>
            </a>
          </div>
          <div class="col-xs-2">
            <a href class="block panel padder-v bg-dark" style="border-radius: 6px">
              <span class="font-thin h1 block" style="color: #6254b2">{{subcount.local}}</span>
              <span class="text-muted text-xs">Local</span>
            </a>
          </div>
          <div class="col-xs-2">
            <a href class="block panel padder-v bg-dark" style="border-radius: 6px">
              <span class="font-thin h1 block" style="color: #f05050">{{subcount.incoming}}</span>
              <span class="text-muted text-xs">Incoming</span>
            </a>
          </div>
          <div class="col-xs-2">
            <div class="panel padder-v bg-dark" style="border-radius: 6px"  >
              <span class="font-thin h1 block" style="color: #b535bd">{{subcount.internal}}</span>
              <span class="text-muted text-xs">Inhouse</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---graph section-->
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-12" style="background-color: #2a2a2a;margin-bottom: 10px; border-radius: 6px">
          <div class="panel-body" style="padding: 0px;">
          <nvd3 options="admincall_options" data="admincall_data"></nvd3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12" style="background-color: #2a2a2a;margin-bottom: 10px; border-radius: 6px">
          <div class="panel-body" style="padding: 0px;">
            <nvd3 options="guestcall_options" data="guestcall_data"></nvd3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-12" style="background-color: #2a2a2a;margin-bottom: 10px; border-radius: 6px">
          <div class="panel-body" style="padding: 0px;">
            <nvd3 options="duration_admin_options" data="duration_admin_data"></nvd3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12" style="background-color: #2a2a2a;margin-bottom: 10px; border-radius: 6px">
          <div class="panel-body" style="padding: 0px;">
            <nvd3 options="cost_admin_options" data="cost_admin_data"></nvd3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
  <!------------------------------------------------------------>
<!--<style>-->
  <!--.datetime .popover {-->
    <!--max-width: 650px;-->
  <!--}-->
<!--</style>-->

<!--<div ng-controller="CallaccountDashboardsController">-->

   <!--<div class="wrapper-md1 bg-light lt b-b">-->
    <!--<div class="col-sm-6 col-xs-12">-->
      <!--<h1 class="m-n font-thin h3 text-black" style="color:#337ab7">Call Accounting</h1>-->
    <!--</div>-->

    <!--<div class="col-sm-6 input-group text-right">-->
	       <!--<div class="btn-group">-->
	        <!--<a ng-click="onDownloadPDF()"><i class="fa fa-file-pdf-o" style="font-size: 30px; color:red" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;-->
		   <!--</div>&lt;!&ndash; Dummy Need to add logic to export dash to pdf &ndash;&gt;-->
      <!--<div class="btn-group">-->
        <!--<label class="btn btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Today'">Today</label>-->
        <!--<label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Weekly'">Weekly</label>-->
        <!--<label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Monthly'">Monthly</label>-->
        <!--<label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Yearly'">Yearly</label>-->
        <!--<label class="btn  btn-info btn-sm" ng-model="filter.dateFilter" uib-btn-radio="'Custom Days'">Custom Days</label>-->
      <!--</div>-->
      <!--<input style="width: 200px; margin-left: 10px; margin-right: 10px" ng-disabled="filter.dateFilter != 'Custom Days'" ng-model="filter.daterange" ui-jq="daterangepicker" ui-options="dateRangeOption" class="form-control pull-right input-sm">-->
    <!--</div>-->

  <!--</div>-->
  <!--<div style="margin-top: 8px">-->
       <!--stats-->
      <!--<div class="col-md-12">-->
        <!--<div class="row row-sm text-center">-->
		<!--<div class="col-xs-2">-->
            <!--<a href class="block panel padder-v item card">-->
              <!--<span class="text-danger font-thin h1 block">{{subcount.international}}</span>  &lt;!&ndash; Dummy Need to have Actual count &ndash;&gt;-->
              <!--<span class="text-muted text-xs">International</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-xs-2">-->
            <!--<a href class="block panel padder-v item card">-->
              <!--<span class="text-success font-thin h1 block">{{subcount.national}}</span> &lt;!&ndash; Dummy Need to have Actual count &ndash;&gt;-->
              <!--<span class="text-muted text-xs">National</span>-->
            <!--</a>-->
          <!--</div>-->

		  <!--<div class="col-xs-2">-->
            <!--<a href class="block panel padder-v item card">-->
              <!--<span class="text-warning font-thin h1 block">{{subcount.mobile}}</span> &lt;!&ndash; Dummy Need to have Actual count &ndash;&gt;-->
              <!--<span class="text-muted text-xs">Mobile</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-xs-2">-->
            <!--<a href class="block panel padder-v item card">-->
              <!--<span class="text-danger font-thin h1 block">{{subcount.local}}</span> &lt;!&ndash; Dummy Need to have Actual count &ndash;&gt;-->
              <!--<span class="text-muted text-xs">Local</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-xs-2">-->
            <!--<a href class="block panel padder-v item card">-->
              <!--<span class="text-info font-thin h1 block">{{subcount.incoming}}</span> &lt;!&ndash; Dummy Need to have Actual count &ndash;&gt;-->
              <!--<span class="text-muted text-xs">Incoming</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-xs-2">-->
            <!--<div class="panel padder-v item card">-->
              <!--<div class="text-primary font-thin h1">{{subcount.internal}}</div> &lt;!&ndash; Dummy Need to have Actual count &ndash;&gt;-->
              <!--<span class="text-muted text-xs">Inhouse</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<div ui-chart="admin_call_data" chart-options="admin_call_option"></div>-->
      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<div ui-chart="guest_call_data" chart-options="guest_call_option"></div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
