<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12 b-r">
            <h3 class="m-t-none m-b font-thin">Feedback Details</h3>
            <hr style="margin-top: 0px; margin-bottom: 15px" />
            <form role="form">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-click="onChangeradio(1)" name="optradio">Positive</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-click="onChangeradio(2)" name="optradio">Negative</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Guest Feedback</label>
                    <textarea class="form-control input-sm" rows="2" ng-model="feedback.comment" style="resize:none"></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-7 pull-right">
                        <button type="button" class="btn btn-dark btn-sm" ng-click="create()">
                            <strong>
                                <span class="font-bold text-success">Create</span>
                            </strong>
                        </button>
                        <button type="button" class="btn btn-dark btn-sm" ng-click="cancel()">
                            <strong>
                                <span class="font-bold text-danger">Cancel</span>
                            </strong>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>