<style>
	#scrollable-room-dropdown-menu .dropdown-menu {
		max-height: 300px;
		overflow-y: auto;
	}
	#scrollable-task-dropdown-menu .dropdown-menu {
		max-height: 300px;
		overflow-y: auto;
	}
	#muti-task-dropdown-menu .dropdown-menu {
		max-height: 300px;
		overflow-y: auto;
	}
</style>

<script type="text/ng-template" id="staff-group-template">
	<div class="autocomplete-template">
		<div class="right-panel">
			<span ng-bind="match.model.wholename"></span>
			<span ng-show = 'match.model.active_status == 1' ng-class="{'label pulse' : true, 'm-l-sm': true,
							'bg-wakeup-success': match.model.active_status == 1,
							}">Online
			</span>
			<span ng-show = 'match.model.active_status == 0' ng-class="{'label pulse' : true, 'm-l-sm': true,
									'bg-wakeup-canceled': match.model.active_status == 0,
									}">Offline
			</span><br>

		</div>
	</div>
</script>

<div ng-if="history_view"
	 style="position: absolute;
	right:220px; top: 135px; z-index:11;
	width:400px; background-color: #eeeded;
	border-radius: 4px; border: 1px solid #dee5e7;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);">
	<div>
		<p class="pull-left" style="margin-top: 8px;margin-left: 10px;" ng-if="isMultiple == true">
			<i class="glyphicon glyphicon-user"></i>&nbsp;<i class="fa fa-history"></i>&nbsp;Request History - {{historylist[selected_guest_id].length}}
		</p>
		<p class="pull-left" style="margin-top: 8px;margin-left: 10px;" ng-if="isMultiple != true">
			<i class="glyphicon glyphicon-user"></i>&nbsp;<i class="fa fa-history"></i>&nbsp;Request History
		</p>
		<select class='form-control' ng-if="isMultiple == true" style="width: 60px; padding-left: 10px; float: left; margin-left: 15px; margin-top: 4px" ng-model="selected_guest_id"
				ng-options="guest.guest_id as guest.location_group.name for guest in selected_guests">
		</select>
		<button class="btn btn-sm btn-icon bg-danger  pull-right" style="margin-top: 4px; margin-right: 4px"
				data-toggle="tooltip" title="Close" data-placement="bottom" ng-click="hideGuestHisotry()">
			<i class="fa fa-times fa-fw"></i>
		</button>
	</div>

	<div class="table table-responsive" style="overflow-y: scroll;height:400px;">
		<table class="table table-sm">
			<thead>
			<tr class="tblhead-sm">
				<th class="text-center">Date</th>
				<th class="text-center">Ticket#</th>
				<th class="text-center">Type</th>
				<th class="text-center">Task</th>
				<th class="text-center">Status</th>
			</tr>
			</thead>
			<tbody ng-if="isMultiple == true">
			<tr class="text-xs" ng-repeat="row in historylist[selected_guest_id] | limitTo:history.limit">
				<td class="text-center" style="padding: 8px">{{row.start_date_time}}</td>
				<td class="text-center" style="padding: 8px"><u style="cursor: pointer">{{gs.getTicketNumber(row)}}</u></td>
				<td class="text-center" style="padding: 8px">{{getHistoryType(row.type)}}</td>
				<td class="text-center" style="padding: 8px"> {{gs.getTicketNameForList(row)}}</td>
				<td class="text-center" style="padding: 8px">
						<span class="label {{gs.getStatusCssInEdit(row)}}">{{gs.getStatus(row)}}
							<i class="fa fa-pause" aria-hidden="true" ng-if="row.status_id == 1 && row.running == 0"></i>
						</span>
				</td>
			</tr>
			</tbody>
			<tbody ng-if="isMultiple != true">
			<tr class="text-xs" ng-repeat="row in historylist | limitTo:history.limit">
				<td class="text-center" style="padding: 8px">{{row.start_date_time}}</td>
				<td class="text-center" style="padding: 8px"><u style="cursor: pointer">{{gs.getTicketNumber(row)}}</u></td>
				<td class="text-center" style="padding: 8px">{{getHistoryType(row.type)}}</td>
				<td class="text-center" style="padding: 8px"> {{gs.getTicketNameForList(row)}}</td>
				<td class="text-center" style="padding: 8px">
						<span class="label {{gs.getStatusCssInEdit(row)}}">{{gs.getStatus(row)}}
							<i class="fa fa-pause" aria-hidden="true" ng-if="row.status_id == 1 && row.running == 0"></i>
						</span>
				</td>
			</tr>
			</tbody>
			<tfoot ng-show="history.limit < historylist.length">
			<td colspan="5" class="text-center"	style="cursor: pointer;" ng-click="loadMoreHistory()">
				<span href="#">Load More</span>
			</td>
			</tfoot>
		</table>
	</div>
</div>
<!-- - - - - - QUICK TASK - - - - - -->
<div class="line-sm" style="width:99%; z-index:3">
	<div class="panel panel-default" style="margin-left: 10px;">
		<div class="panel-heading">
			<label class="font-bold"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Create Task&nbsp;</label>
			<a class="dropdown pos-stc" ng-if="isMultiple == true" ng-show="selected_guests.length > 0">
				<label ng-click="showGuestHisotry()" class="text-danger font-bold text-xs"
					   style="cursor: pointer"><i class="fa fa-history text-danger"></i>&nbsp; {{historyCount}} Previous Request
				</label>
			</a>
			<a class="dropdown pos-stc" ng-if="isMultiple != true" ng-show="guest.room_id > 0 && guest.guest_id > 0">
				<label ng-click="showGuestHisotry(guest.guest_name)" class="text-danger font-bold text-xs"
					   style="cursor: pointer"><i class="fa fa-history text-danger"></i>&nbsp; {{historylist.length}} Previous Request
				</label>
			</a>
			<div class="pull-right">
				<div class="btn-group" uib-dropdown is-open="status.isopen">
					<button type="button" class="btn btn-dark btn-sm {{isCreatingTasks == true ? 'disabled' : ''}}" ng-click="createTasks(0)"  ng-disabled="disable_create">
						<span class="font-bold text-success">Create</span>
					</button>
					<button type="button" class="btn btn-dark btn-sm {{isCreatingTasks == true ? 'disabled' : ''}}" uib-dropdown-toggle>
						<span class="text-success caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="margin-left:-130px">
						<li ng-click="createTasks(1)" ng-disabled="disable_create"><a href>Create & add for same room</a></li>
						<li ng-click="createTasks(2)" ng-disabled="disable_create"><a href>Create & add for different room</a></li>
					</ul>
				</div>
				<button type="button" class="btn btn-dark btn-sm" ng-click="removeNewSelectTicket(tab)" ><span class="font-bold text-danger">Cancel</span>
				</button>
			</div>
		</div>
		<div class="panel-body">
			<form class="form-horizontal"  my-enter="createTasks(0)" my-esc="removeNewSelectTicket(tab)"  >
				<div class="form-group label-group" ng-if="isOnlyGuestRequest == true">
					<div class="col-sm-2 control-label text-muted">Multiple</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="isMultiple" ng-click="onToggleMultiple()">
							<i></i>
						</label>
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Request ID</div>
					<div class="col-sm-4 control-label" style="text-align: left"><strong>{{ticket_id}}</strong></div>
					<div class="col-sm-2 control-label text-muted">Request Time</div>
					<div class="col-sm-4 control-label" style="text-align: left"><strong>{{request_time}}</strong></div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Room</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<div id="scrollable-room-dropdown-menu">
							<tags-input ng-model="selected_rooms"
										ng-if="isMultiple == true"
										placeholder="Select room numbers"
										replace-spaces-with-dashes="false"
										style="margin-top: -5px"
										display-property="room"
										key-property="id"
										min-length="1"
										ng-blur="onLoadTasks()"
										on-tag-added="onRoomInfoChanged('add')"
										on-tag-removed="onRoomInfoChanged()"
							>
								<auto-complete source="onRoomInfoFilter($query)"
											   min-length="0"
											   debounce-delay="0"
											   load-on-focus="true"
											   load-on-empty="true"
											   max-results-to-show="10">
								</auto-complete>
							</tags-input>
							<input type="text"
								   ng-if="isMultiple != true"
								   ng-model="selected_room.room" class="form-control input-sm" placeholder="Enter room number"
								   typeahead-editable="false"
								   uib-typeahead="room.room for room in room_list | filter:$viewValue | limitTo:200"
								   typeahead-min-length="0"
								   typeahead-on-select="onRoomSelect($item, $model, $label)" required autofocus="selected_room.room">
						</div>
					</div>
					<div class="col-sm-2 control-label text-muted">Guest Name</div>
					<div class="col-sm-3 control-label" ng-if="isMultiple == true" style="text-align: left"><strong>{{guest_name}}</strong></div>
					<div class="col-sm-3 control-label" ng-if="isMultiple != true" style="text-align: left"><strong>{{guest.guest_name}}</strong></div>
				</div>
				<div class="form-group label-group" ng-if="isOnlyGuestRequest == true">
					<div class="col-sm-2 control-label text-muted">Feedback</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="feedback_flag" ng-change="feedbackFlag()">
							<i></i>
						</label>
					</div>
				</div>
				<div class="line line-dashed b-b" ng-if="isMultiple == true" ng-show="selected_guests.length > 0"></div>
				<div class="line line-dashed b-b" ng-if="isMultiple != true" ng-show="guest.room_id > 0 && guest.guest_id > 0"></div>

				<div class=" " ng-if="isMultiple == true" ng-show="selected_guests.length > 0">
					<div ng-repeat="item in system_task_list" class="col-lg-2-4 btn-group btn-group-justified m-t-xs m-b-xs"
						 style="display: table; padding-left: 2px; padding-right: 2px" ng-dblclick="addSystemTask(item)" sglguestclick="addSystemTaskq(item)">
						<div class="btn w-ms btn-primary text-center text-xs font-bold">
							<a><span class="text-warning" ng-init="limit = 20; moreShown = false" title="{{item.task}}">
				          		{{item.task | limitTo: limit}}{{item.task.length > limit ? '..' : ''}}
				          		</span>
							</a>
						</div>
					</div>
				</div>
				<div class=" " ng-if="isMultiple != true" ng-show="guest.room_id > 0 && guest.guest_id > 0">
					<div ng-repeat="item in system_task_list" class="col-lg-2-4 btn-group btn-group-justified m-t-xs m-b-xs"
						 style="display: table; padding-left: 2px; padding-right: 2px" ng-dblclick="addSystemTask(item)" sglguestclick="addSystemTaskq(item)">
						<div class="btn w-ms btn-primary text-center text-xs font-bold">
							<a><span class="text-warning" ng-init="limit = 20; moreShown = false" title="{{item.task}}">
				          		{{item.task | limitTo: limit}}{{item.task.length > limit ? '..' : ''}}
				          		</span>
							</a>
						</div>
					</div>
				</div>
				<div class="line line-dashed b-b wrapper-xs line-md" ng-if="isMultiple == true"
					 ng-show="selected_guests.length > 0 && maintasks.length > 0">
				</div>
				<div class="line line-dashed b-b wrapper-xs line-md" ng-if="isMultiple != true"
					 ng-show="guest.room_id > 0 && guest.guest_id > 0 && maintasks.length > 0">
				</div>
				<div ng-if="isMultiple == true" ng-show="selected_guests.length > 0">
					<div ng-repeat="item in maintasks" class="col-lg-2-4 btn-group btn-group-justified m-t-xs m-b-xs"
						 style="display: table; padding-left: 2px; padding-right: 2px" ng-dblclick="addMainTaskGroup(item)" sgldclick="addMainTaskq(item)">
						<div class="btn w-ms btn-dark text-center text-xs font-bold">
							<a>
								<span class="text-warning" ng-init="limit = 20; moreShown = false" title="{{item.alias}}">
									{{item.alias | limitTo: limit}}{{item.alias.length > limit ? '..' : ''}}
								</span>
							</a>
						</div>
					</div>
				</div>
				<div ng-if="isMultiple != false" ng-show="guest.room_id > 0 && guest.guest_id > 0">
					<div ng-repeat="item in maintasks" class="col-lg-2-4 btn-group btn-group-justified m-t-xs m-b-xs"
						 style="display: table; padding-left: 2px; padding-right: 2px" ng-dblclick="addMainTaskGroup(item)" sgldclick="addMainTaskq(item)">
						<div class="btn w-ms btn-dark text-center text-xs font-bold">
							<a>
								<span class="text-warning" ng-init="limit = 20; moreShown = false" title="{{item.alias}}">
									{{item.alias | limitTo: limit}}{{item.alias.length > limit ? '..' : ''}}
								</span>
							</a>
						</div>
					</div>
				</div>

				<div class="line line-dashed b-b" ng-if="isMultiple == true" ng-show="selected_guests.length > 0"></div>
				<div class="line line-dashed b-b" ng-if="isMultiple != true" ng-show="guest.room_id > 0 && guest.guest_id > 0"></div>

				<div class=" " ng-if="isMultiple == true" ng-show="selected_guests.length > 0">
					<div ng-repeat="item in quicktasks" class="col-lg-2-4 btn-group btn-group-justified m-t-xs m-b-xs"
						 style="display: table; padding-left: 2px; padding-right: 2px" ng-dblclick="addQuickTask(item)" sglguestclick="addQuickTasksq(item)">
						<div class="btn w-ms btn-dark text-center text-xs font-bold">
							<a><span class="text-warning" ng-init="limit = 20; moreShown = false" title="{{item.task}}">
				          		{{item.task | limitTo: limit}}{{item.task.length > limit ? '..' : ''}}
				          		</span>
							</a>
						</div>
					</div>
				</div>
				<div class=" " ng-if="isMultiple != true" ng-show="guest.room_id > 0 && guest.guest_id > 0">
					<div ng-repeat="item in quicktasks" class="col-lg-2-4 btn-group btn-group-justified m-t-xs m-b-xs"
						 style="display: table; padding-left: 2px; padding-right: 2px" ng-dblclick="addQuickTask(item)" sglguestclick="addQuickTasksq(item)">
						<div class="btn w-ms btn-dark text-center text-xs font-bold">
							<a><span class="text-warning" ng-init="limit = 20; moreShown = false" title="{{item.task}}">
				          		{{item.task | limitTo: limit}}{{item.task.length > limit ? '..' : ''}}
				          		</span>
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- - - - - - /QUICK TASK - - - - - -->

<!-- - - - - - ADD TASK - - - - - -->
<div class="col-centered" ng-if="isMultiple == true" ng-show="selected_guests.length > 0">
	<div class="panel panel-default" style="margin-left: 10px;">
		<div class="panel-heading">
			<label class="font-bold"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;Add Task</label>
			<i class="fa fa-plus-circle fa-2x text-success ng-click-active pull-right" style="cursor: pointer" title="Add New Task"
			   ng-click="addTask(true)"></i>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Task</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<div class="scrollable-dropdown-menu">
							<input ng-model="main_task.tasklist.task" class="form-control input-sm"
								   uib-typeahead="item.task for item in getTaskList($viewValue)"
								   typeahead-on-select="onMainTaskSelect(main_task, $item, $model, $label)"
								   typeahead-min-length="0"
								   typeahead-wait-ms="300"
								   typeahead-no-results="noResults" required/>
							<span ng-if="noResults" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
					            <ul class="dropdown-menu" >
					                <li><a href  ng-if="auth_svc.isValidModule('app.task.create')" ng-click="onAddTask()">{{main_task.tasklist.task}} (Add New Task))</a></li>
					            </ul>
				            </span>
						</div>
					</div>
					<div class="col-sm-2 control-label text-muted">Quantity</div>
					<div class="col-sm-3 control-label" style="text-align: left">
						<input type="number" class="text-center form-control" ng-model="main_task.quantity" maxlength="2" style="width: 50px">
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Department</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<div class="scrollable-dropdown-menu">
							<input ng-model="main_task.department" maxlength="50" class="form-control input-sm"
								   uib-typeahead="item.department for item in dept_list | filter:$viewValue | limitTo:10"
								   typeahead-on-select="onMainDepartSelect(main_task, $item, $model, $label)"
								   typeahead-editable="false"
								   typeahead-min-length="0"
								   ng-disabled="!main_task.department_edit_flag" required />
						</div>
					</div>
					<div class="col-sm-2 control-label text-muted">Function</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<input class="form-control input-sm"
							   ng-model="main_task.dept_func.function"
							   uib-typeahead="item.function for item in getDeptFuncList($viewValue, main_task.department_id)"
							   typeahead-on-select="onMainDeptFuncSelect(main_task, $item, $model, $label)"
							   typeahead-editable="false"
							   typeahead-min-length="0"
							   ng-disabled="!main_task.department_edit_flag" required>
					</div>
				</div>
				<div class="form-group label-group" ng-show="!main_task.schedule_flag">
					<div class="col-sm-12" ng-if="main_task.userInfoArr != undefined">
						<table class="grid" style="width : 80%; margin: auto; border: 1px solid">
							<thead>
							<tr style="background-color: #c2dbec;">
								<th width='20%' class="text-center"><b>Location Name</b></th>
								<th width='40%' class="text-center"><b>Staff</b></th>
								<th width='40%' class="text-center"><b>Device</b></th>
							</tr>
							</thead>
							<tbody style="background-color: lightgrey">
							<tr class="" ng-repeat="userInfo in main_task.userInfoArr">
								<td class="text-center">{{userInfo.room_name}}</td>
								<td class="text-center">
									<div style="padding: 4px">
										<input type="text" ng-model="userInfo.username" class="form-control  input-sm"
											   uib-typeahead="item.wholename for item in userInfo.userlist | filter:{wholename:$viewValue} | limitTo:10"
											   typeahead-min-length="0"
											   typeahead-editable="false"
											   typeahead-template-url = "staff-group-template"
											   typeahead-on-select="onStaffSelect(userInfo, $item, $model, $label)" required>
									</div>
								</td>
								<td class="text-center">
									<div style="padding: 4px;">
										<input class="form-control input-sm" ng-model="userInfo.device" disabled required>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Priority</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<select class='form-control input-sm' ng-model="main_task.priority_id"
								ng-options="value.id as value.priority for (key, value) in prioritylist" />

					</div>
					<div class="col-sm-2 control-label text-muted">Duration (mins)</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<input type="number" class="form-control input-sm" ng-model="main_task.max_duration" ng-disabled="duration_disabled" style="width: 60px" required>
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Repeat</div>
					<div class="col-sm-1">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="main_task.repeat_flag" checked>
							<i></i>
						</label>
					</div>
					<div class="col-sm-2 control-label text-muted" ng-show="main_task.repeat_flag">Until Checkout</div>
					<div class="col-sm-1" ng-show="main_task.repeat_flag">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="main_task.until_checkout_flag" checked>
							<i></i>
						</label>
					</div>
					<div class="col-sm-2 control-label text-muted" ng-show="main_task.repeat_flag && !main_task.until_checkout_flag">End Date</div>
					<div class="col-sm-4 control-label" style="text-align: left" ng-show="main_task.repeat_flag && !main_task.until_checkout_flag">
						<div class="input-group">
				            <span class="input-group-btn">
				                <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				            </span>
							<input type="text" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" ng-model="main_task.repeat_end_date" is-open="opened" datepicker-options="dateOptions" close-text="Close" required  ng-change="select(main_task.repeat_end_date)"/>
						</div>
					</div>
				</div>

				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Schedule</div>
					<div class="col-sm-1">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="main_task.schedule_flag" checked>
							<i></i>
						</label>
					</div>
					<div class="dropdown col-sm-3">
						<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="!main_task.schedule_flag" ng-model="main_task.date">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-show="main_task.schedule_flag">
							<datetimepicker ng-model="datetime.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
											data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
						</ul>
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Notes</div>
					<div class="col-sm-10 control-label" style="text-align: left">
						<textarea class="form-control input-sm" rows="3" ng-model="main_task.custom_message" style="resize:none"></textarea>
					</div>
				</div>
				<div class="label-group" ng-hide="attatch_no_need_flag">
					<div class="col-sm-4">
						<label class="control-label text-xs text-muted">Attach</label>
						<button class="btn btn-dark btn-xs" ng-if="main_task.files.length < 5" ngf-select="uploadFiles($files)" multiple ngf-max-files="5" ngf-max-size="10MB"
								ngf-accept="'image/*,application/pdf'" ngf-pattern="'image/*,application/pdf'">
							<span class="text-success font-bold"><i class="fa fa-folder-open"></i>&nbsp;Add file</span>
						</button>
						<small class="text-muted">(Max 3 files)</small>
						<br>
						<small class="text-muted text-xs">Upload .jpg, .jpeg, .png and .pdf file with maximum size of 10MB is allowed.</small>
					</div>
					<div class="col-sm-8">
						<label class="control-label text-xs text-muted"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;Files</label><br/>
						<div>
							<div class = "col-sm-3" ng-repeat=" (key,f) in main_task.files" class="text-xs" style="margin-bottom: 5px">
								<img style = "width:85%;max-height: 217px;object-fit: cover;"  ng-src = "{{main_task.thumbnails[key]}}" alt = "{{f.name}}" ng-click="openModalImage(main_task.thumbnails[key], f.name)" >
								<span class="glyphicon icon-close" style="margin-top:3px; color: red"
									  ng-click="removeFile($index)"></span>
							</div>
						</div>
						<div style = "padding:0px;" ng-if="0">
							<span class="progress" ng-show="upload_progress > 0">
							<div style="width:{{upload_progress}}%" ng-bind="upload_progress + '%'"></div>
							</span>
							{{errorUploadMsg}}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-centered" ng-if="isMultiple != true" ng-show="guest.room_id > 0 && guest.guest_id > 0">
	<div class="panel panel-default" style="margin-left: 10px;">
		<div class="panel-heading">
			<label class="font-bold"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;Add Task</label>
			<i class="fa fa-plus-circle fa-2x text-success ng-click-active pull-right" style="cursor: pointer" title="Add New Task"
			   ng-click="addTask(true)"></i>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Task</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<div class="scrollable-dropdown-menu">
							<input ng-model="main_task.tasklist.task" class="form-control input-sm"
								   uib-typeahead="item.task for item in getTaskList($viewValue)"
								   typeahead-on-select="onMainTaskSelect(main_task, $item, $model, $label)"
								   typeahead-min-length="0"
								   typeahead-wait-ms="300"
								   typeahead-no-results="noResults" required/>
							<span ng-if="noResults" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
					            <ul class="dropdown-menu" >
					                <li><a href  ng-if="auth_svc.isValidModule('app.task.create')" ng-click="onAddTask()">{{main_task.tasklist.task}} (Add New Task))</a></li>
					            </ul>
				            </span>
						</div>
					</div>
					<div class="col-sm-2 control-label text-muted">Quantity</div>
					<div class="col-sm-3 control-label" style="text-align: left">
						<input type="number" class="text-center form-control" ng-model="main_task.quantity" maxlength="2" style="width: 50px">
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Department</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<div class="scrollable-dropdown-menu">
							<input ng-model="main_task.department" maxlength="50" class="form-control input-sm"
								   uib-typeahead="item.department for item in dept_list | filter:$viewValue | limitTo:10"
								   typeahead-on-select="onMainDepartSelect(main_task, $item, $model, $label)"
								   typeahead-editable="false"
								   typeahead-min-length="0"
								   ng-disabled="!main_task.department_edit_flag" required />
						</div>
					</div>
					<div class="col-sm-2 control-label text-muted">Function</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<input class="form-control input-sm"
							   ng-model="main_task.dept_func.function"
							   uib-typeahead="item.function for item in getDeptFuncList($viewValue, main_task.department_id)"
							   typeahead-on-select="onMainDeptFuncSelect(main_task, $item, $model, $label)"
							   typeahead-editable="false"
							   typeahead-min-length="0"
							   ng-disabled="!main_task.department_edit_flag" required>
					</div>
				</div>
				<div class="form-group label-group" ng-show="!main_task.schedule_flag">
					<div class="col-sm-2 control-label text-muted">Staff</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<input type="text" ng-model="main_task.username" class="form-control  input-sm"
							   uib-typeahead="item.wholename for item in main_task.userlist | filter:{wholename:$viewValue} | limitTo:10"
							   typeahead-min-length="0"
							   typeahead-editable="false"
							   typeahead-template-url = "staff-group-template"
							   typeahead-on-select="onStaffSelect(main_task, $item, $model, $label)" required>
					</div>
					<div class="col-sm-2 control-label text-muted">Device</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<input class="form-control input-sm" ng-model="main_task.device" disabled required>
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Priority</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<select class='form-control input-sm' ng-model="main_task.priority_id"
								ng-options="value.id as value.priority for (key, value) in prioritylist" />

					</div>
					<div class="col-sm-2 control-label text-muted">Duration (mins)</div>
					<div class="col-sm-4 control-label" style="text-align: left">
						<input type="number" class="form-control input-sm" ng-model="main_task.max_duration" ng-disabled="duration_disabled" style="width: 60px" required>
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Repeat</div>
					<div class="col-sm-1">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="main_task.repeat_flag" checked>
							<i></i>
						</label>
					</div>
					<div class="col-sm-2 control-label text-muted" ng-show="main_task.repeat_flag">Until Checkout</div>
					<div class="col-sm-1" ng-show="main_task.repeat_flag">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="main_task.until_checkout_flag" checked>
							<i></i>
						</label>
					</div>
					<div class="col-sm-2 control-label text-muted" ng-show="main_task.repeat_flag && !main_task.until_checkout_flag">End Date</div>
					<div class="col-sm-4 control-label" style="text-align: left" ng-show="main_task.repeat_flag && !main_task.until_checkout_flag">
						<div class="input-group">
				            <span class="input-group-btn">
				                <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				            </span>
							<input type="text" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" ng-model="main_task.repeat_end_date" is-open="opened" datepicker-options="dateOptions" close-text="Close" required  ng-change="select(main_task.repeat_end_date)"/>
						</div>
					</div>
				</div>

				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Schedule</div>
					<div class="col-sm-1">
						<label class="i-switch m-t-xs m-r">
							<input type="checkbox" ng-model="main_task.schedule_flag" checked>
							<i></i>
						</label>
					</div>
					<div class="dropdown col-sm-3">
						<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="!main_task.schedule_flag" ng-model="main_task.date">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-show="main_task.schedule_flag">
							<datetimepicker ng-model="datetime.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
											data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
						</ul>
					</div>
				</div>
				<div class="form-group label-group">
					<div class="col-sm-2 control-label text-muted">Notes</div>
					<div class="col-sm-10 control-label" style="text-align: left">
						<textarea class="form-control input-sm" rows="3" ng-model="main_task.custom_message" style="resize:none"></textarea>
					</div>
				</div>
				<div class="label-group" ng-hide="attatch_no_need_flag">
					<div class="col-sm-4">
						<label class="control-label text-xs text-muted">Attach</label>
						<button class="btn btn-dark btn-xs" ng-if="main_task.files.length < 5" ngf-select="uploadFiles($files)" multiple ngf-max-files="5" ngf-max-size="10MB"
								ngf-accept="'image/*,application/pdf'" ngf-pattern="'image/*,application/pdf'">
							<span class="text-success font-bold"><i class="fa fa-folder-open"></i>&nbsp;Add file</span>
						</button>
						<small class="text-muted">(Max 3 files)</small>
						<br>
						<small class="text-muted text-xs">Upload .jpg, .jpeg, .png and .pdf file with maximum size of 10MB is allowed.</small>
					</div>
					<div class="col-sm-8">
						<label class="control-label text-xs text-muted"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;Files</label><br/>
						<div>
							<div class = "col-sm-3" ng-repeat=" (key,f) in main_task.files" class="text-xs" style="margin-bottom: 5px">
								<img style = "width:85%;max-height: 217px;object-fit: cover;"  ng-src = "{{main_task.thumbnails[key]}}" alt = "{{f.name}}" ng-click="openModalImage(main_task.thumbnails[key], f.name)" >
								<span class="glyphicon icon-close" style="margin-top:3px; color: red"
									  ng-click="removeFile($index)"></span>
							</div>
						</div>
						<div style = "padding:0px;" ng-if="0">
							<span class="progress" ng-show="upload_progress > 0">
							<div style="width:{{upload_progress}}%" ng-bind="upload_progress + '%'"></div>
							</span>
							{{errorUploadMsg}}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- - - - - - /ADD TASK - - - - - -->

<!-- - - - - - ADD MORE TASK - - - - - -->
<div class="col-centered" ng-if="isMultiple == true" ng-show="selected_guests.length > 0">
	<div class="panel panel-default" style="margin-left: 10px;">
		<div class="panel-heading">
			<label class="font-bold">Task Added</label>
		</div>
		<div class="panel-body">
			<form class="form-horizontal form-validation">
				<div class="form-group label-group" style="width:98%; margin:auto" ng-repeat="task in tasks">
					<div class="form-group col-md-10">
						<div class="col-md-4 ">
							<span class="pull-left" style="margin-left: 3px" >{{task.tasklist.task}}</span>
						</div>
						<div class="col-md-4">
							<span class="pull-left" style="margin-left: 3px" >{{task.department}}</span>
						</div>
						<div class="col-md-4" ng-show="!main_task.schedule_flag">
							<span class="pull-left"  style="margin-left: 3px" >{{task.userInfoArr.length == 1 ? task.userInfoArr[0].username : ""}}</span>
						</div>
					</div>
					<div class="form-group col w-xs col-md-1">
						<span class="pull-right" style="margin-right: 20px">{{task.quantity}}</span>
					</div>
					<div class="form-group col w-xs col-md-1">
						<span class="glyphicon icon-close pull-right" style="margin-top:3px;margin-right: 10px; color: red" ng-click="removeTask()"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-centered" ng-if="isMultiple != true" ng-show="guest.room_id > 0 && guest.guest_id > 0">
	<div class="panel panel-default" style="margin-left: 10px;">
		<div class="panel-heading">
			<label class="font-bold">Task Added</label>
		</div>
		<div class="panel-body">
			<form class="form-horizontal form-validation">
				<div class="form-group label-group" style="width:98%; margin:auto" ng-repeat="task in tasks">
					<div class="form-group col-md-10">
						<div class="col-md-4 ">
							<span class="pull-left" style="margin-left: 3px" >{{task.tasklist.task}}</span>
						</div>
						<div class="col-md-4">
							<span class="pull-left" style="margin-left: 3px" >{{task.department}}</span>
						</div>
						<div class="col-md-4" ng-show="!main_task.schedule_flag">
							<span class="pull-left"  style="margin-left: 3px" >{{task.username}}</span>
						</div>
					</div>
					<div class="form-group col w-xs col-md-1">
						<span class="pull-right" style="margin-right: 20px">{{task.quantity}}</span>
					</div>
					<div class="form-group col w-xs col-md-1">
						<span class="glyphicon icon-close pull-right" style="margin-top:3px;margin-right: 10px; color: red" ng-click="removeTask()"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

