
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h3 class="modal-title" style="color:#2691d9" id="Heading">Work Order Part Error</h3>
    </div>
    <br>
    <div class="modal-body" ng-if="part_duplicate == false">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span> No stock available. There is {{partstock}} item in stock only
        </div>
    </div>

    <div class="modal-body" ng-if="part_duplicate == true">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span> This part can not add because duplicated
        </div>
    </div>

    <div class="modal-footer ">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="ok()">
            <span class="glyphicon glyphicon-ok"></span>
            <b> Ok</b>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span>
            <b> Cancel</b>
        </button>
    </div>

</div>

